@import 'tailwindcss';
@import 'antd/dist/reset.css';

@theme {
  --color-color-ok: #039855;
  --color-color-warning: #ff9800;
  --color-color-error: #ce3933;
  --color-color-success: #206923;
  --color-color-terminated: #9dabb5;
  --color-color-vague: #ededed;
  --color-color-info: #2d81a4;
  --color-color-border: #d9d9d9;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

::before,
::after {
  --tw-content: '';
}

/* Sidebar Menu - Necessary for custom sidebar styling */
.kubepanel-sidebar-menu.ant-menu {
  background: transparent !important;
}

.kubepanel-sidebar-menu .ant-menu-item {
  margin: 0 !important;
  width: 100% !important;
  border-radius: 4px !important;
  color: #71717a !important;
  margin-bottom: 2px !important;
}

.kubepanel-sidebar-menu .ant-menu-submenu-title {
  margin: 0 !important;
  width: 100% !important;
  border-radius: 4px !important;
  color: #71717a !important;
  margin-bottom: 2px !important;
}

.kubepanel-sidebar-menu .ant-menu-item:hover,
.kubepanel-sidebar-menu .ant-menu-submenu-title:hover {
  color: #18181b !important;
  background-color: #f4f4f5 !important;
}

.kubepanel-sidebar-menu .ant-menu-item-selected {
  background-color: #f4f4f5 !important;
  color: #18181b !important;
  font-weight: 500;
}

.ant-menu.ant-menu-sub.ant-menu-inline {
  background-color: transparent !important;
}

.ant-menu-submenu-active .ant-menu-submenu-title,
.ant-menu-submenu-selected .ant-menu-submenu-title,
.ant-menu-submenu-open .ant-menu-submenu-title {
  color: #18181b !important;
}

/* Modal - Full screen modal for YAML editor */
.ant-modal {
  width: 100vw !important;
  max-width: 100vw !important;
  top: 0;
  padding-bottom: 0;
}

.ant-modal-content {
  border-radius: 0% !important;
}

.ant-modal-body {
  height: calc(100vh - 85px);
  overflow-y: auto;
}

.ant-modal-close {
  margin-top: 1%;
  margin-right: 1%;
}

.ant-modal-close-x svg {
  width: 1.5em;
  height: 1.5em;
  color: #111824;
}

/* Collapse - Fix icon alignment */
.ant-collapse-header {
  align-items: center !important;
  padding: 12px 0 !important;
}

.ant-collapse-header .ant-collapse-expand-icon {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  padding-inline-end: 0 !important;
}

/* Table row cursor */
.ant-table-tbody tr {
  cursor: pointer;
}
