apiVersion: app.sealos.io/v1
kind: App
metadata:
  name: dbprovider
  namespace: app-system
spec:
  data:
    desc: Database
    url: "https://dbprovider.{{ .cloudDomain }}{{ if .cloudPort }}:{{ .cloudPort }}{{ end }}"
  icon: "https://dbprovider.{{ .cloudDomain }}{{ if .cloudPort }}:{{ .cloudPort }}{{ end }}/logo.svg"
  menuData:
    helpDropDown: false
    nameColor: text-black
  name: Database
  type: iframe
  displayType: normal
