apiVersion: v1
kind: ServiceAccount
metadata:
  name: cluster-version-reader
  namespace: dbprovider-frontend
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cluster-version-reader
  namespace: dbprovider-frontend
rules:
  - apiGroups: ["apps.kubeblocks.io/v1alpha1"]
    resources: [ "clusterversions" ]
    verbs: [ "get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cluster-version-reader-rolebinding
  namespace: dbprovider-frontend
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: cluster-version-reader
subjects:
  - kind: ServiceAccount
    name: cluster-version-reader
    namespace: dbprovider-frontend
