.container {
  table thead tr {
    background: #f8f8fa;
  }

  // thead {
  //   tr th {
  //     border-radius: 12px;
  //   }
  // }

  // tbody {
  //   background: red;
  //   tr:first-child {
  //     td:first-child {
  //       border-top-left-radius: 12px;
  //     }
  //     td:last-child {
  //       border-top-right-radius: 12px;
  //     }
  //   }
  // }

  td,
  th {
    border: none;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}
