apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  name: imagehub-frontend
  namespace: imagehub-frontend
spec:
  rules:
    - host: imagehub.{{ .cloudDomain }}
      http:
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: imagehub-frontend
                port:
                  number: 3000
  tls:
    - hosts:
        - imagehub.{{ .cloudDomain }}
      secretName: {{ .certSecretName }}