apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: license-controller-clusterrole
rules:
- apiGroups: [ "" ]
  resources: [ "namespaces" ]
  resourceNames: [ "kube-system" ]
  verbs: [ "get" ]
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - license.sealos.io
  resources:
  - licenses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - license.sealos.io
  resources:
  - licenses/finalizers
  verbs:
  - update
- apiGroups:
  - license.sealos.io
  resources:
  - licenses/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  resourceNames:
  - devboxes.devbox.sealos.io
  verbs:
  - get
- nonResourceURLs:
    - /metrics
  verbs:
    - get
- apiGroups:
    - authentication.k8s.io
  resources:
    - tokenreviews
    - subjectaccessreviews
  verbs:
    - create
- apiGroups:
    - notification.sealos.io
  resources:
    - notifications
  verbs:
    - create
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - user.sealos.io
  resources:
    - users
  verbs:
    - create
    - update
    - get
    - list
    - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: license-controller-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: license-controller-clusterrole
subjects:
  - kind: ServiceAccount
    name: {{ include "license.serviceAccountName" . }}
    namespace: {{.Release.Namespace}}
---
## ClusterRole for license frontend to get node info
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: license-manager-role
rules:
- apiGroups: [ "" ]
  resources: [ "namespaces" ]
  resourceNames: [ "kube-system" ]
  verbs: [ "get" ]
- apiGroups:
    - ""
  resources:
    - nodes
  verbs:
    - get
    - list
    - watch
- apiGroups:
    - license.sealos.io
  resources:
    - licenses
  verbs:
    - "*"
