image: ghcr.io/labring/sealos-job-init-controller:latest
imagePullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "init-job"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  runAsNonRoot: true

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - "ALL"

ttlSecondsAfterFinished: 86400
backoffLimit: 10
restartPolicy: OnFailure

env:
  passwordSalt: ""
  adminPassword: "sealos2023"
  adminUserName: "admin"
  workspacePrefix: "ns-"
  domain: ""
  globalCockroachUri: ""
  localCockroachUri: ""
  localRegion: ""

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

metrics:
  enabled: false
  certPath: /tmp/k8s-metrics-server/metrics-certs
  secretName: metrics-server-cert

nodeSelector: {}

tolerations: []

affinity: {}
