.inputWarp span {
  height: 42px;
  background: #e5ebf8;
  border-radius: 12px;
  border-color: transparent;
  width: 100%;
  &:focus-within {
    border-color: transparent;
  }
  &::after {
    border-color: transparent;
  }
  &:hover {
    border: 1px solid #7a9dea;
  }
}

.dropDownWarp {
  width: 100%;
  background: #e5ebf8 !important;
  border-radius: 12px !important;
  border: 1px solid transparent !important;
  button {
    height: 42px;
    background: #e5ebf8;
    border-radius: 12px;
  }
  &::after {
    border: none !important;
  }
  & button {
    border: 1px solid #e5ebf8;
  }
  & button:hover {
    border: 1px solid #7a9dea;
  }
}

.errorWarp {
  border: 1px solid #ee4161 !important;
  button {
    &:hover {
      border-color: transparent;
    }
  }
}

.numberWarp {
  width: 100%;
  span {
    width: 100%;
    background: #e5ebf8;
    height: 42px;
    border-radius: 12px;
    border: 1px solid transparent;
  }
  span::before {
    width: 100%;
    border: none !important;
  }
  span::after {
    border: none !important;
  }
  & span:hover {
    border: 1px solid #7a9dea;
  }
}
