# Copyright © 2022 sealos.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#apiVersion: cert-manager.io/v1
#kind: ClusterIssuer
#metadata:
#  name: bytebase-cluster-issuer
#  namespace: bytebase-frontend
#spec:
#  acme:
#    server: https://acme-v02.api.letsencrypt.org/directory
#    email: admin@sealos.io
#    privateKeySecretRef:
#      name: letsencrypt-prod
#    solvers:
#      - http01:
#          ingress:
#            class: nginx
#---
#apiVersion: cert-manager.io/v1
#kind: Certificate
#metadata:
#  name: bytebase-cert
#  namespace: bytebase-frontend
#spec:
#  secretName: bytebase-cert-secret
#  dnsNames:
#    - bytebase.{{ .cloudDomain }}
#  issuerRef:
#    name: bytebase-cluster-issuer
#    kind: ClusterIssuer
#---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_clear_headers "X-Frame-Options:";
      more_set_headers "Content-Security-Policy: default-src * blob: data: *.{{ .cloudDomain }} {{ .cloudDomain }}; img-src * data: blob: resource: *.{{ .cloudDomain }} {{ .cloudDomain }}; connect-src * wss: blob: resource:; style-src 'self' 'unsafe-inline' blob: *.{{ .cloudDomain }} {{ .cloudDomain }} resource:; script-src 'self' 'unsafe-inline' 'unsafe-eval' blob: *.{{ .cloudDomain }} {{ .cloudDomain }} resource: *.baidu.com *.bdstatic.com; frame-src 'self' {{ .cloudDomain }} mailto: tel: weixin: mtt: *.baidu.com; frame-ancestors 'self' https://{{ .cloudDomain }} https://*.{{ .cloudDomain }}";
      more_set_headers "X-Xss-Protection: 1; mode=block";
    higress.io/response-header-control-remove: X-Frame-Options
    higress.io/response-header-control-update: |
      Content-Security-Policy "default-src * blob: data: *.{{ .cloudDomain }} {{ .cloudDomain }}; img-src * data: blob: resource: *.{{ .cloudDomain }} {{ .cloudDomain }}; connect-src * wss: blob: resource:; style-src 'self' 'unsafe-inline' blob: *.{{ .cloudDomain }} {{ .cloudDomain }} resource:; script-src 'self' 'unsafe-inline' 'unsafe-eval' blob: *.{{ .cloudDomain }} {{ .cloudDomain }} resource: *.baidu.com *.bdstatic.com; frame-src 'self' {{ .cloudDomain }} mailto: tel: weixin: mtt: *.baidu.com; frame-ancestors 'self' https://{{ .cloudDomain }} https://*.{{ .cloudDomain }}"
      X-Xss-Protection "1; mode=block"
  name: bytebase-cloud-sealos-io
  namespace: bytebase-frontend
spec:
  rules:
    - host: bytebase.{{ .cloudDomain }}
      http:
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: bytebase-frontend
                port:
                  number: 3000
  tls:
    - hosts:
        - bytebase.{{ .cloudDomain }}
      secretName: {{ .certSecretName }}
