.mainContainer {
  height: 100vh;
  width: 100vw;
  background-color: var(--nextui-colors-accents0);
  color: var(--nextui-colors-text);
}

.header {
  top: 0;
  position: sticky;
  height: 24px;
  width: 100%;
  background: transparent;
  text-align: center;
  border-radius: 0 0 8px 8px;
  z-index: var(--nextui-zIndices-max);
}

.headerMenu {
  height: 24px;
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: var(--nextui-colors-gray500) 0px 4px 16px -4px;
  border-radius: 0 0 8px 8px;
}

.headerMenuIcon {
  height: 16px;
  width: 16px;
  text-align: center;
  margin: 2px 8px;
}

.headerMenuIcon:hover {
  cursor: pointer;
}

.frameContainer {
  padding: 16px;
  /* padding: calc(24px + 8px) 8px 8px 8px; */
  height: calc(100vh - 60px - 16px);
  width: 100%;
}

.frameContainer .frameDefault {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frameContainer .frameDefault .frameDefaultRow {
  width: auto;
}

.frameContainer .iframe {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.dockContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 52px;
  margin-bottom: 8px;
  width: 100%;
}

.dockContent {
  display: flex;
  background: var(--nextui-colors-gray500);
  padding: 0 16px;
  border-radius: 16px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 52px;
}

.dockContent .dockItem {
  display: flex;
  margin: 8px;
}

.dockContent .dockItem .bottomAction {
  width: 36px;
  height: 36px;
}

.dockContent .dockItem .bottomAction:hover {
  cursor: pointer;
}
