$theme-color-white: #ffffff;
$theme-color-blue: rgba(35, 155, 242, 1);
$small-radius: 12px;
$background-base-color: rgba(255, 255, 255, 0.75);
$background-min-hover: rgba(255, 255, 255, 0.4);
$background-max-hover: rgba(255, 255, 255, 0.65);

.pageWrapperScroll {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hiddenScrollWrap {
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

.customScrollStyle {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #7291be;
    border-radius: 10px;
  }
}

.backgroundWrap {
  background-image: url('/images/appstore/background.png');
  background-size: cover;
  background-position: top;
}

.baseCard {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.appLabels {
  background: rgba(35, 155, 242, 0.15);
  border-radius: 8px;
  padding: 4px 8px;
  color: #239bf2;
}

.title {
  font-weight: 500;
  font-size: 20px;
  color: #0d1a2d;
  line-height: 140%;
}

.imageSizeText {
  font-size: 16px;
  color: #0d1a2d;
}

.fingerPrint {
  height: 22px;
  background: rgba(164, 186, 202, 0.15);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding: 0 8px;
  .imageId {
    margin-left: 8px;
    font-size: 10px;
    text-transform: capitalize;
    color: #239bf2;
  }
}
