**/Dockerfile
**/.dockerignore
**/npm-debug.log
**/README.md
**/.env.local
**/config.yaml
**/.vscode/
**/.yalc/
**/yalc.lock
**/.gitignore
**/providers/template/templates/
**/providers/template/templates.json

.git
**/.git

node_modules
**/node_modules

.next
**/.next

dist
**/dist

coverage
**/coverage

*.log
**/*.log

.DS_Store
**/.DS_Store
