*swp
*rpmnew
*swo
.idea
oss-config
ossutil64
main.exe
main
dist
scripts/release/Note.md
.ossutil_checkpoint
bin
.run
coverage.out
tools/*
tools/!*.go
tmp
**/.DS_Store
node_modules
vendor
pkg/registry/save/testdata/registry
.dummy.report.md
deploy/cloud/tars
.vscode/