go 1.19

use (
	.
	./controllers/app
	./controllers/cluster
	./controllers/imagehub
	./controllers/infra
	./controllers/metering
	./controllers/terminal
	./controllers/user
	./service/auth
	./service/hub
	./service/payment
	./staging/src/github.com/labring/image-cri-shim
	./staging/src/github.com/labring/lvscare
	./webhooks/whitelist
)

replace k8s.io/apimachinery => k8s.io/apimachinery v0.24.3

replace k8s.io/code-generator => k8s.io/code-generator v0.24.3

replace k8s.io/cri-api => k8s.io/cri-api v0.24.3

replace k8s.io/mount-utils => k8s.io/mount-utils v0.24.3
