go 1.20

use (
	./cli
	./cli/staging/src/github.com/labring/image-cri-shim
	./cli/staging/src/github.com/labring/lvscare
	./cli/test/e2e
	./controllers/account
	./controllers/admission
	./controllers/app
	./controllers/cluster
	./controllers/common
	./controllers/db/adminer
	./controllers/db/bytebase
	./controllers/imagehub
	./controllers/infra
	./controllers/licenseissuer
	./controllers/metering
	./controllers/node
	./controllers/resources
	./controllers/terminal
	./controllers/user
	./service/hub
	./service/payment
)