go 1.20

use (
	.
	./staging/src/github.com/labring/image-cri-shim
	./staging/src/github.com/labring/lvscare
	./webhooks/whitelist
	./test/e2e
	./deprecated/controllers/db/bytebase
	./deprecated/controllers/imagehub
)
