apiVersion: v1
kind: Pod
metadata:
  labels:
    component: keepalived
    tier: control-plane
  name: keepalived
  namespace: kube-system
spec:
  containers:
  - image: fanux/keepalived:2.0.8
    imagePullPolicy: IfNotPresent
    name: keepalived
    securityContext:
        privileged: true
    volumeMounts:
    - mountPath: /etc/keepalived
      name: haproxy-conf
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/keepalived
      type: DirectoryOrCreate
    name: haproxy-conf
