global_defs {
   router_id kubernetes
}

vrrp_script Checkhaproxy {
    script "/etc/keepalived/check_haproxy.sh"
    interval 3
    weight -25 
}

vrrp_instance VI_1 {
    state {{ lb }}

    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id  100
    priority {{ priority }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass kuburnetes
    }

    virtual_ipaddress {
         {{ vip }} 
    }
    track_script {
        Checkhaproxy
    }
}
