apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: account-system
  labels:
    cloud.sealos.io/app-deploy-manager: account-service
spec:
  ports:
    - port: 2333
      targetPort: 2333
  selector:
    app: account-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: account-system
  annotations:
    originImageName: ghcr.io/labring/sealos-account-service:latest
    deploy.cloud.sealos.io/minReplicas: '1'
    deploy.cloud.sealos.io/maxReplicas: '1'
  labels:
    cloud.sealos.io/app-deploy-manager: account-service
    app: account-service
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: account-service
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
        - name: account-service
          image: ghcr.io/labring/sealos-account-service:latest
          envFrom:
          - configMapRef:
              name: account-manager-env
          resources:
            requests:
              cpu: 50m
              memory: 25Mi
            limits:
              cpu: 500m
              memory: 256Mi
          ports:
            - containerPort: 2333
          imagePullPolicy: Always
          volumeMounts: []
      serviceAccountName: account-controller-manager
      volumes: []
