apiVersion: v1
kind: Service
metadata:
  name: devbox-service
  namespace: devbox-system
  labels:
    cloud.sealos.io/app-deploy-manager: devbox-service
spec:
  ports:
    - port: 8092
      targetPort: 8092
  selector:
    app: devbox-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: devbox-service
  namespace: devbox-system
  annotations:
    originImageName: ghcr.io/labring/sealos-devbox-service:latest
    deploy.cloud.sealos.io/minReplicas: '3'
    deploy.cloud.sealos.io/maxReplicas: '3'
  labels:
    cloud.sealos.io/app-deploy-manager: devbox-service
    app: devbox-service
spec:
  replicas: 3
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: devbox-service
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: devbox-service
    spec:
      containers:
        - name: devbox-service
          image: ghcr.io/labring/sealos-devbox-service:latest
          envFrom:
          - configMapRef:
              name: devbox-env
          resources:
            requests:
              cpu: 50m
              memory: 50Mi
            limits:
              cpu: 500m
              memory: 512Mi
          ports:
            - containerPort: 8092
          imagePullPolicy: Always
      serviceAccountName: default
      automountServiceAccountToken: false