**Full Changelog**: https://github.com/goreleaser/goreleaser/compare/{{ .PreviousTag }}...{{ .Tag }}

See [the CHANGELOG](https://github.com/${USERNAME:-labring}/sealos/blob/main/CHANGELOG/CHANGELOG.md) for more details.
* * *

Thank you for your support of Sealos.
If you encounter any issues during use, please submit an issue in our [GitHub repository](https://github.com/labring/sealos), and we will address your concerns as soon as possible.
