apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
    control-plane: controller-manager
  name: devbox-system
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: devboxes.devbox.sealos.io
spec:
  group: devbox.sealos.io
  names:
    kind: Devbox
    listKind: DevboxList
    plural: devboxes
    singular: devbox
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Devbox is the Schema for the devboxes API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DevboxSpec defines the desired state of Devbox
            properties:
              network:
                properties:
                  extraPorts:
                    items:
                      description: ContainerPort represents a network port in a single
                        container.
                      properties:
                        containerPort:
                          description: |-
                            Number of port to expose on the pod's IP address.
                            This must be a valid port number, 0 < x < 65536.
                          format: int32
                          type: integer
                        hostIP:
                          description: What host IP to bind the external port to.
                          type: string
                        hostPort:
                          description: |-
                            Number of port to expose on the host.
                            If specified, this must be a valid port number, 0 < x < 65536.
                            If HostNetwork is specified, this must match ContainerPort.
                            Most containers do not need this.
                          format: int32
                          type: integer
                        name:
                          description: |-
                            If specified, this must be an IANA_SVC_NAME and unique within the pod. Each
                            named port in a pod must have a unique name. Name for the port that can be
                            referred to by services.
                          type: string
                        protocol:
                          default: TCP
                          description: |-
                            Protocol for port. Must be UDP, TCP, or SCTP.
                            Defaults to "TCP".
                          type: string
                      required:
                      - containerPort
                      type: object
                    type: array
                  type:
                    enum:
                    - NodePort
                    - Tailnet
                    type: string
                required:
                - type
                type: object
              resource:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                type: object
              runtimeRef:
                properties:
                  name:
                    type: string
                required:
                - name
                type: object
              squash:
                default: false
                type: boolean
              state:
                enum:
                - Running
                - Stopped
                type: string
            required:
            - network
            - resource
            - runtimeRef
            - state
            type: object
          status:
            description: DevboxStatus defines the observed state of Devbox
            properties:
              commitHistory:
                items:
                  properties:
                    image:
                      type: string
                    pod:
                      type: string
                    status:
                      type: string
                    time:
                      format: date-time
                      type: string
                  required:
                  - image
                  - pod
                  - status
                  - time
                  type: object
                type: array
              network:
                properties:
                  nodePort:
                    format: int32
                    type: integer
                  tailnet:
                    description: todo TailNet
                    type: string
                  type:
                    default: NodePort
                    enum:
                    - NodePort
                    - Tailnet
                    type: string
                required:
                - type
                type: object
              podPhase:
                description: PodPhase is a label for the condition of a pod at the
                  current time.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: devboxreleases.devbox.sealos.io
spec:
  group: devbox.sealos.io
  names:
    kind: DevBoxRelease
    listKind: DevBoxReleaseList
    plural: devboxreleases
    singular: devboxrelease
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DevBoxRelease is the Schema for the devboxreleases API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DevBoxReleaseSpec defines the desired state of DevBoxRelease
            properties:
              devboxName:
                type: string
              newTag:
                type: string
              notes:
                type: string
            required:
            - devboxName
            - newTag
            type: object
          status:
            description: DevBoxReleaseStatus defines the observed state of DevBoxRelease
            properties:
              phase:
                default: Pending
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: operationrequests.devbox.sealos.io
spec:
  group: devbox.sealos.io
  names:
    kind: OperationRequest
    listKind: OperationRequestList
    plural: operationrequests
    singular: operationrequest
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OperationRequest is the Schema for the operationrequests API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: OperationRequestSpec defines the desired state of OperationRequest
            type: object
          status:
            description: OperationRequestStatus defines the observed state of OperationRequest
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: runtimeclasses.devbox.sealos.io
spec:
  group: devbox.sealos.io
  names:
    kind: RuntimeClass
    listKind: RuntimeClassList
    plural: runtimeclasses
    singular: runtimeclass
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RuntimeClass is the Schema for the runtimeclasses API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RuntimeClassSpec defines the desired state of RuntimeClass
            properties:
              description:
                type: string
              kind:
                enum:
                - OS
                - Language
                - Framework
                type: string
              title:
                type: string
            required:
            - kind
            - title
            type: object
          status:
            description: RuntimeClassStatus defines the observed state of RuntimeClass
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: runtimes.devbox.sealos.io
spec:
  group: devbox.sealos.io
  names:
    kind: Runtime
    listKind: RuntimeList
    plural: runtimes
    singular: runtime
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Runtime is the Schema for the runtimes API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RuntimeSpec defines the desired state of Runtime
            properties:
              category:
                items:
                  type: string
                type: array
              classRef:
                type: string
              description:
                type: string
              image:
                type: string
              title:
                type: string
            required:
            - classRef
            - description
            - image
            - title
            type: object
          status:
            description: RuntimeStatus defines the observed state of Runtime
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-controller-manager
  namespace: devbox-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-leader-election-role
  namespace: devbox-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devbox-editor-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devbox-viewer-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devboxrelease-editor-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-devboxrelease-viewer-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: devbox-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/finalizers
  verbs:
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases/finalizers
  verbs:
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: devbox-metrics-auth-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: devbox-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-operationrequest-editor-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - operationrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - operationrequests/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-operationrequest-viewer-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - operationrequests
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - operationrequests/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-runtime-editor-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimes/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-runtime-viewer-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimes/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-runtimeclass-editor-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimeclasses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimeclasses/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-runtimeclass-viewer-role
rules:
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimeclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimeclasses/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-leader-election-rolebinding
  namespace: devbox-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: devbox-leader-election-role
subjects:
- kind: ServiceAccount
  name: devbox-controller-manager
  namespace: devbox-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
  name: devbox-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: devbox-manager-role
subjects:
- kind: ServiceAccount
  name: devbox-controller-manager
  namespace: devbox-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: devbox-metrics-auth-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: devbox-metrics-auth-role
subjects:
- kind: ServiceAccount
  name: devbox-controller-manager
  namespace: devbox-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
    control-plane: controller-manager
  name: devbox-controller-manager-metrics-service
  namespace: devbox-system
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    control-plane: controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devbox
    control-plane: controller-manager
  name: devbox-controller-manager
  namespace: devbox-system
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --metrics-bind-address=:8443
        - --leader-elect
        - --health-probe-bind-address=:8081
        - --registry-addr={{ .registryAddr }}
        - --registry-user={{ .registryUser }}
        - --registry-password={{ .registryPassword }}
        - --auth-addr={{ .authAddr }}
        command:
        - /manager
        image: ghcr.io/labring/sealos-devbox-controller:latest
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      securityContext:
        runAsNonRoot: true
      serviceAccountName: devbox-controller-manager
      terminationGracePeriodSeconds: 10
