.pageContainer {
  display: flex;
  font-size: 12px;
  align-items: center;
  padding: 4px 0;
}

.pageWrapper {
  display: flex;
  align-items: center;
  li.pageItemActive {
    color: #239bf2;
    border-color: #239bf2;
  }
}

.pageWrapper li {
  cursor: pointer;
  border: 1px transparent solid;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  margin-left: 4px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;

  color: #0d1a2d;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.pageWrapper li:hover {
  background: rgba(255, 255, 255, 0.5);
}

.pageWrapper li.disabled {
  color: #0d1a2d;
  cursor: not-allowed;
}
