.btn {
  width: 96px;
  height: 32px;
  padding: 5px 12px;
  border: 1px solid black;
  margin-right: 5px;
}

.btnCheck {
  @extend .btn;
  border-color: #a66139;
  background-color: #ebebeb;
}

.infraCard {
  width: 96px;
  height: 32px;
  padding: 5px 12px;
  border: 1px solid black;
  margin-right: 5px;
}

.head {
  width: 120px;
  height: 32px;
  padding: 5px 12px;
  border: 1px solid black;
  margin-bottom: 20px;
}
