.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;

  @mixin base_status($bg_color) {
    width: 10px;
    height: 10px;
    background: $bg_color;
    border-radius: 50%;
  }

  .Pending {
    @include base_status(#a27df1);
  }

  .Running {
    @include base_status(#61c554);
  }

  .Start {
    @include base_status(#f4be4f);
  }

  .Deleting {
    @include base_status(#ec6a5e);
  }

  .right {
    margin-left: 6px;
    width: 48px;
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    color: #686868;
  }
}
