.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  min-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
}
