.container {
  table thead tr {
    background: #f8f8fa;
  }

  td,
  th {
    border: none;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}
