PUBLIC_URL=.
NEXT_PUBLIC_SERVICE=/service/
SEALOS_CLOUD_DOMAIN="cloud.sealos.io"

# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
# WECHAT_CLIENT_ID=
# WECHAT_CLIENT_SECRET=
# KUBECONFIG=
# MONGODB_URI=
# JWT_SECRET=
# ALI_ACCESS_KEY_ID=
# ALI_ACCESS_KEY_SECRET=
# ALI_TEMPLATE_CODE=
# ALI_SIGN_NAME=
# PRIVATE_PROTOCOL=
# SERVICE_PROTOCOL=
# CALLBACK_URL=
# PASSWORD_SALT=
# WECHAT_ENABLED=
# GITHUB_ENABLED=
# PASSWORD_ENABLED=
# SMS_ENABLED=

# costcenter
STRIPE_ENABLED=
STRIPE_PUB=
SEALOS_CLOUD_DOMAIN=
INVITE_ENABLED=