{{ $scheme := "https" }}
{{ $port := .cloudPort }}
{{ if eq .disableHttps "true" }}
{{ $scheme = "http" }}
{{ $port = .httpPort }}
{{ end }}
{{ if and (eq $scheme "https") (eq $port "443") }}
{{ $port = "" }}
{{ end }}
{{ if and (eq $scheme "http") (eq $port "80") }}
{{ $port = "" }}
{{ end }}
apiVersion: app.sealos.io/v1
kind: App
metadata:
  name: terminal
  namespace: app-system
spec:
  data:
    desc: sealos CLoud Terminal
    url: "{{ $scheme }}://terminal.{{ .cloudDomain }}{{ if $port }}:{{ $port }}{{ end }}"
  icon: "{{ $scheme }}://terminal.{{ .cloudDomain }}{{ if $port }}:{{ $port }}{{ end }}/logo.svg"
  i18n:
    zh:
      name: 终端
    zh-Hans:
      name: 终端
  menuData:
  name: Terminal
  type: iframe
  displayType: normal
