apiVersion: v1
kind: Namespace
metadata:
  name: objectstorage-frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: object-storage-frontend
  namespace: objectstorage-frontend
  labels:
    app: object-storage-frontend
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: object-storage-frontend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 0
  template:
    metadata:
      labels:
        app: object-storage-frontend
    spec:
      containers:
        - name: object-storage-frontend
          image: ghcr.io/labring/sealos-objectstorage-frontend:latest
          ports:
            - containerPort: 3000
              protocol: TCP
          env:
            - name: MONITOR_URL
              value: https://object-storage-monitor.{{ .cloudDomain }}/q
          resources:
            limits:
              cpu: 2000m
              memory: 2048Mi
            requests:
              cpu: 10m
              memory: 128Mi
          imagePullPolicy: Always
          volumeMounts: []
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: "app"
                  operator: In
                  values:
                  - object-storage-frontend
              topologyKey: "kubernetes.io/hostname"
      volumes: []
---
apiVersion: v1
kind: Service
metadata:
  name: object-storage-frontend
  namespace: objectstorage-frontend
  labels:
    app: object-storage-frontend
spec:
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: object-storage-frontend
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($request_uri ~* \.(js|css|gif|jpe?g|png)) {
        expires 30d;
        add_header Cache-Control "public";
      }
    nginx.ingress.kubernetes.io/proxy-body-size: 3g
    nginx.ingress.kubernetes.io/proxy-next-upstream-timeout: '180'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '180'
  name: object-storage-frontend
  namespace: objectstorage-frontend
spec:
  rules:
  - host: objectstorage.{{ .cloudDomain }}
    http:
      paths:
      - backend:
          service:
            name: object-storage-frontend
            port:
              number: 3000
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - objectstorage.{{ .cloudDomain }}
    secretName: wildcard-cert
---
apiVersion: app.sealos.io/v1
kind: App
metadata:
  name: objectstorage
  namespace: app-system
spec:
  data:
    desc: object storage
    url: https://objectstorage.{{ .cloudDomain }}:{{ .cloudPort }}
  displayType: normal
  i18n:
    zh:
      name: 对象存储
    zh-Hans:
      name: 对象存储
  icon: https://objectstorage.{{ .cloudDomain }}:{{ .cloudPort }}/logo.svg
  menuData:
  name: Object Storage
  type: iframe