body,
h1,
h2,
h3,
h4,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}
body {
  background-color: #f4f4f7 !important;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

input::placeholder,
textarea::placeholder {
  color: var(--chakra-colors-blackAlpha-400);
}

#__next {
  height: 100%;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: rgba(189, 193, 197, 1) !important;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: rgba(189, 193, 197, 1) !important;
}

div {
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background: transparent !important;
    border-radius: 2px;
    transition: 1s;
  }
  &:hover {
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb {
      background: rgba(189, 193, 197, 0.5) !important;
    }
    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(189, 193, 197, 1) !important;
    }
  }
}

.hover-button {
  display: none;
}

.hover-container:hover .hover-button {
  display: block;
}

#driver-popover-content {
  border: none;
  padding: 0px;
  border-radius: 20px;
  max-width: fit-content;
}

.driver-popover-arrow-side-left {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  border-left-color: #2563eb !important;
}

.driver-popover-arrow-side-right {
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: #2563eb !important;
}

.driver-popover-arrow-side-top {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-top-color: #2563eb !important;
}

.driver-popover-arrow-side-bottom {
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: #2563eb !important;
}

.chakra-radio__control {
  border-width: 1px !important;
}

.chakra-radio__control[data-checked] {
  border-color: #219bf4 !important;
  border-width: 1px !important;
  background-color: white !important;
  box-shadow: 0px 0px 0px 2.4px rgba(33, 155, 244, 0.15);
}

.chakra-radio__control[data-checked]::before {
  background-color: #219bf4 !important;
  width: 4px !important;
  height: 4px !important;
}
