apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "devbox-v1alpha1.fullname" . }}-leader-election-role
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    {{- include "devbox-v1alpha1.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "devbox-v1alpha1.fullname" . }}-manager-role
  labels:
    {{- include "devbox-v1alpha1.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - '*'
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/finalizers
  verbs:
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases/finalizers
  verbs:
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - devboxreleases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimeclasses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - runtimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - operationrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - devbox.sealos.io
  resources:
  - operationrequests/finalizers
  verbs:
  - update
- apiGroups:
  - devbox.sealos.io
  resources:
  - operationrequests/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "devbox-v1alpha1.fullname" . }}-leader-election-rolebinding
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    {{- include "devbox-v1alpha1.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "devbox-v1alpha1.fullname" . }}-leader-election-role
subjects:
  - kind: ServiceAccount
    name: {{ include "devbox-v1alpha1.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "devbox-v1alpha1.fullname" . }}-manager-rolebinding
  labels:
    {{- include "devbox-v1alpha1.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "devbox-v1alpha1.fullname" . }}-manager-role
subjects:
  - kind: ServiceAccount
    name: {{ include "devbox-v1alpha1.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}

