apiVersion: v1
kind: Secret
metadata:
  name: licenseissuer-env
  namespace: sealos-system
stringData:
  MongoURI: "{{ .MongoURI }}"
  PasswordSalt: "{{ .PasswordSalt }}"
  MongoUserDB: "{{ .MongoUserDB }}"
  MongoUserCollection: "{{ .MongoUserCollection }}"
  Namespace: "{{ .Namespace }}"
  ISSUER_KEY: ""
  WechatPrivateKey: ""
  MchID: ""
  MchAPIv3Key: ""
  MchCertificateSerialNumber: ""
  AppID: ""
---
apiVersion: v1
data:
  config.json: |
    {
      "CollectorURL": "{{ .CollectorURL }}",
      "NotificationURL": "{{ .NotificationURL }}",
      "RegisterURL": "{{ .RegisterURL }}",
      "CloudSyncURL": "{{ .CloudSyncURL }}",
      "LicenseMonitorURL": "{{ .LicenseMonitorURL }}",
      "NetworkProbeURL": "{{ .NetworkProbeURL }}"
    }
kind: ConfigMap
metadata:
  name: url-config
  namespace: "{{ .Namespace }}"
