apiVersion: v1
kind: Secret
metadata:
  name: licenseissuer-env
  namespace: sealos-system
stringData:
  canConnectToExternalNetwork: "{{ .canConnectToExternalNetwork }}"
  isMonitor: "{{ .enableMonitor }}"
  MongoURI: "{{ .MongoURI }}"
  PasswordSalt: "{{ .PasswordSalt }}"
  MongoUserDB: "{{ .MongoUserDB }}"
  MongoUserCollection: "{{ .MongoUserCollection }}"
  Namespace: "{{ .Namespace }}"
---
apiVersion: v1
data:
  config.json: |
    {
      "CollectorURL": "{{ .CollectorURL }}",
      "NotificationURL": "{{ .NotificationURL }}",
      "RegisterURL": "{{ .RegisterURL }}",
      "CloudSyncURL": "{{ .CloudSyncURL }}",
      "LicenseMonitorURL": "{{ .LicenseMonitorURL }}"
    }
kind: ConfigMap
metadata:
  name: url-config
  namespace: "{{ .Namespace }}"
---
apiVersion: v1
data: null
kind: ConfigMap
metadata:
  name: license-history
  namespace: sealos-system
