go 1.22

toolchain go1.22.5

use (
	.
	./account
	./database
	./exceptionmonitor
	./launchpad
	./pay
)

replace (
	github.com/labring/sealos/controllers/account => ../controllers/account
	github.com/labring/sealos/controllers/user => ../controllers/user
)
