go 1.20

use (
	.
	./account
	./database
	./exceptionmonitor
	./launchpad
	./pay
)

replace (
	github.com/labring/sealos/controllers/account => ../controllers/account
	github.com/labring/sealos/controllers/user => ../controllers/user
)
