@media screen and (max-width: 1000px) {
  .home-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    // height: auto;
    height: 420px;

    .footer-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -60px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    .footer-context {
      margin-top: 36px;
      z-index: 9;
      display: flex;
      flex-direction: column;
    }

    .footer-left {
      display: flex;
      flex-direction: column;
      width: auto;

      .footer-main {
        display: flex;
        align-items: center;
      }

      .footer-title {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }

      .footer-aid-text {
        margin-top: 8px;
        margin-left: 8px;
        color: rgba(255, 255, 255, 0.9);
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
      }
    }

    .footer-right {
      width: auto;
      font-size: 10px;
      display: flex;
      justify-content: space-between;
      margin-left: 8px;
      margin-top: 36px;

      .list-item {
        text-align: left;
        span a {
          color: rgba(255, 255, 255, 0.9);
          text-decoration: none;
          font-size: 10px;
        }
      }

      h3 {
        margin: 0;
        color: rgba(255, 255, 255, 0.8);
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 24px;
        font-size: 10px;
      }
      span {
        display: block;
        margin-top: 14px;
      }
    }

    .footer-bottom-wrap {
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: 9;
    }

    .footer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0px;
      width: 100%;

      .footer-bottom-text {
        color: rgba(255, 255, 255, 0.8);
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
      }

      .link {
        width: 144px;
        height: 32px;
        display: flex;
        justify-content: space-between;
      }

      .community-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: #0a1621;
        border-radius: 50%;
      }
    }
  }
}
