---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: accounts.account.sealos.io
spec:
  group: account.sealos.io
  names:
    kind: Account
    listKind: AccountList
    plural: accounts
    singular: account
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Account is the Schema for the accounts API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AccountSpec defines the desired state of Account
            type: object
          status:
            description: AccountStatus defines the observed state of Account
            properties:
              balance:
                description: Recharge amount
                format: int64
                type: integer
              chargeList:
                items:
                  properties:
                    accountBalanceName:
                      type: string
                    balance:
                      format: int64
                      type: integer
                    deductionAmount:
                      description: deduction info will Record in the Charge
                      format: int64
                      type: integer
                    status:
                      type: string
                    time:
                      format: date-time
                      type: string
                    tradeNO:
                      type: string
                  type: object
                type: array
              deductionBalance:
                description: Deduction amount
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
