apiVersion: v1
kind: Namespace
metadata:
  labels:
    app: devbox-frontend
  name: devbox-frontend
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: devbox-frontend-config
  namespace: devbox-frontend
data:
  config.yaml: |-
    addr: :3000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: devbox-frontend
  namespace: devbox-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devbox-frontend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  template:
    metadata:
      labels:
        app: devbox-frontend
    spec:
      initContainers:
        - name: devbox-frontend-init
          image: ghcr.io/labring/sealos-devbox-frontend:latest
          imagePullPolicy: Always
          env:
            - name: REGION_UID
              value: {{ .regionUid }} # -nsealos cm desktop-frontend-config ->regionUid
            - name: DATABASE_URL
              value: {{ .databaseUrl }} # -nsealos cm desktop-frontend-config ->database->global + devbox
          command: ['/bin/bash', '-c', '/app/providers/devbox/init-database.sh']
      containers:
        - name: devbox-frontend
          env:
            - name: DOCUMENT_URL_ZH
              value: https://sealos.run/docs/overview/intro
            - name: DOCUMENT_URL_EN
              value: https://sealos.io/docs/overview/intro
            - name: SEALOS_DOMAIN
              value: {{ .cloudDomain }}
            - name: INGRESS_SECRET
              value: wildcard-cert
            - name: REGISTRY_ADDR
              value: {{ .registryAddr }}
            - name: DEVBOX_AFFINITY_ENABLE
              value: 'true'
            - name: MONITOR_URL
              value: http://launchpad-monitor.sealos.svc.cluster.local:8428
            - name: SQUASH_ENABLE
              value: 'false'
            - name: ACCOUNT_URL
              value: http://account-service.account-system.svc.cluster.local:2333
            - name: ROOT_RUNTIME_NAMESPACE
              value: devbox-system
            - name: INGRESS_DOMAIN
              value: {{ .cloudDomain }}
            - name: CURRENCY_SYMBOL
              value: usd #  'shellCoin' | 'cny' | 'usd'
            - name: GPU_ENABLE
              value: 'false'
            - name: PRIVACY_URL
              value: https://sealos.run/docs/msa/privacy-policy
            - name: RETAG_SVC_URL
              value: http://devbox-service.devbox-system.svc.cluster.local:8092
            - name: JWT_SECRET
              value: {{ .jwtSecret }} # -nsealos cm desktop-frontend-config ->jwt->Internal
            - name: REGION_UID
              value: {{ .regionUid }} # -nsealos cm desktop-frontend-config ->regionUid
            - name: DATABASE_URL
              value: {{ .databaseUrl }} # -nsealos cm desktop-frontend-config ->database->global + devbox
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - 'ALL'
          resources:
            limits:
              cpu: 2000m
              memory: 2048Mi
            requests:
              cpu: 100m
              memory: 128Mi
          # do not modify this image, it is used for CI/CD
          image: ghcr.io/labring/sealos-devbox-frontend:latest
          imagePullPolicy: Always
          volumeMounts:
            - name: devbox-frontend-volume
              mountPath: /config.yaml
              subPath: config.yaml
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: 'app'
                      operator: In
                      values:
                        - devbox-frontend
                topologyKey: 'kubernetes.io/hostname'
      volumes:
        - name: devbox-frontend-volume
          configMap:
            name: devbox-frontend-config
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: devbox-frontend
  name: devbox-frontend
  namespace: devbox-frontend
spec:
  ports:
    - name: http
      port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: devbox-frontend
