apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: {{ .DEFAULT_NAMESPACE }}
stringData:
  MONGO_URI: "{{ .MONGO_URI }}"
  TRAFFICS_SERVICE_CONNECT_ADDRESS: "{{ default "" .TRAFFICS_SERVICE_CONNECT_ADDRESS }}"