NEXT_PUBLIC_MOCK_USER=

SEALOS_DOMAIN=
INGRESS_DOMAIN=

INGRESS_SECRET=
REGISTRY_ADDR=
DEVBOX_AFFINITY_ENABLE=true
SQUASH_ENABLE=
NODE_TLS_REJECT_UNAUTHORIZED=
ROOT_RUNTIME_NAMESPACE=
GPU_ENABLE=
CURRENCY_SYMBOL=   #  'shellCoin' | 'cny' | 'usd'

DATABASE_URL=     # -nsealos cm desktop-frontend-config ->database->global
RETAG_SVC_URL=
PRIVACY_URL=
MONITOR_URL=
ACCOUNT_URL=
AIPROXY_INTERNAL_URL=  # internal url for aiproxy-front

REGION_UID=        # -nsealos cm desktop-frontend-config ->regionUid
JWT_SECRET=      # -nsealos cm desktop-frontend-config ->jwt->Internal

# CUSTOM_SCRIPTS='[{"src": "http://www.example.com/example.js"}]'
