# Env for dev


# kubeconfig: login sealos->Console-application->session.state.session.kubeconfig->copy as JSON string.
NEXT_PUBLIC_MOCK_USER=
# stop verifying SSL certificates in development.
NODE_TLS_REJECT_UNAUTHORIZED='0'

# Env for dev and prod


# you develop sealos domain,such as hzh.sealos.run
SEALOS_DOMAIN=
# domain for ingress(public domain use),such as saeloshzh.site
INGRESS_DOMAIN=
# domain for image registry,such as hub.hzh.sealos.run
REGISTRY_ADDR=

# K8S Secret name for ingress TLC cert,default is "wildcard-cert"
INGRESS_SECRET="wildcard-cert"
# boolean for devbox tolerations,default is true
DEVBOX_AFFINITY_ENABLE="true"
# boolean for image squash,default is false
SQUASH_ENABLE="false"

# for auth
# -nsealos cm desktop-frontend-config ->jwt->Internal
JWT_SECRET=
# region cluster uid,for datatbase to auth
REGION_UID=

# !!!IMPORTANT: for the following url,you need to port forward.
# monitor for devbox
# in dev: http://127.0.0.1:8428
# in prod: http://launchpad-monitor.sealos.svc.cluster.local:8428
MONITOR_URL=
# url for get resource price
# in dev: not set
# in prod: http://account-service.account-system.svc.cluster.local:2333
ACCOUNT_URL=
# template store database url
# -nsealos cm desktop-frontend-config ->database->global + devbox
# the following is just an example
# in dev: postgresql://username:password@127.0.0.1:26257/devboxdb?connection_limit=50&pool_timeout=20
# in prod: postgresql://username:password@cockroachdb-global.cockroach-operator-system:26257/devboxdb?connection_limit=50&pool_timeout=20
DATABASE_URL=
# url for template retag
# in dev: http://127.0.0.1:8092
# in prod: http://devbox-service.devbox-system.svc.cluster.local:8092
RETAG_SVC_URL=
# privacy document url
PRIVACY_URL="https://sealos.run/docs/msa/privacy-policy"
# document url
DOCUMENT_URL_ZH="https://sealos.run/docs/overview/intro"
DOCUMENT_URL_EN="https://sealos.io/docs/overview/intro"

# sealos coin style for ui,['shellCoin','cny','usd']
# in China: shellCoin,in other region: usd
CURRENCY_SYMBOL='usd'
# if open GPU ui,used for some environemnt which has GPU,default is false
GPU_ENABLE= "false"




# deprecated env,this env is used before template store,now is deprecated
ROOT_RUNTIME_NAMESPACE='devbox-system'

# CUSTOM_SCRIPTS='[{"src": "http://www.example.com/example.js"}]'
