NEXT_PUBLIC_MOCK_USER=
SEALOS_DOMAIN=
INGRESS_SECRET=
REGISTRY_ADDR=
DEVBOX_AFFINITY_ENABLE=
SQUASH_ENABLE=
NODE_TLS_REJECT_UNAUTHORIZED=
ROOT_RUNTIME_NAMESPACE=
GPU_ENABLE=
DATABASE_URL=
RETAG_SVC_URL=
PRIVACY_URL=
