/* UI components search path */
@import '@sealos/shadcn-ui/shadcn.css';
@import '@sealos/shadcn-ui/styles.css';

/* New designs uses white color for background. It's different from the default theme in shadcn-ui package (previously used by DevBox). */
:root {
  --background: #ffffff;
}

html,
body,
#__next {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

iframe {
  border: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #6a6969;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

input:-webkit-autofill {
  background-image: none;
  color: #000;
}

div {
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background: transparent !important;
    border-radius: 10px;
    transition: 1s;
  }

  &:hover {
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb {
      background: rgba(189, 193, 197, 0.5) !important;
    }

    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(189, 193, 197, 1) !important;
    }
  }
}

#driver-popover-content {
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: #fff;
}

.driver-popover-arrow {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  display: block !important;
  border-color: transparent;
}

.driver-popover-arrow-side-left {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  border-left-color: #2563eb !important;
}

.driver-popover-arrow-side-right {
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: #2563eb !important;
}

.driver-popover-arrow-side-top {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-top-color: #2563eb !important;
}

.driver-popover-arrow-side-bottom {
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: #2563eb !important;
}
