---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - accountbalances
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - accountbalances/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - accounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - accounts/finalizers
  verbs:
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - accounts/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - billingrecordqueries
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - billingrecordqueries/finalizers
  verbs:
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - billingrecordqueries/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - debts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - debts/finalizers
  verbs:
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - debts/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - payments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - payments/finalizers
  verbs:
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - payments/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - pricequeries
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - pricequeries/finalizers
  verbs:
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - pricequeries/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - transfers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - transfers/finalizers
  verbs:
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - transfers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps
  resources:
  - daemonsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - replicasets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - limitranges
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - namespaces/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - resourcequotas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metering.common.sealos.io
  resources:
  - extensionresourceprices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - notification.sealos.io
  resources:
  - notifications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - user.sealos.io
  resources:
  - users
  verbs:
  - get
  - list
  - watch
