---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - account.sealos.io
  resources:
  - accountbalances
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - resourcequotas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infra.sealos.io
  resources:
  - infras
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metering.sealos.io
  resources:
  - extensionresourceprices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metering.sealos.io
  resources:
  - meterings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metering.sealos.io
  resources:
  - meterings/finalizers
  verbs:
  - update
- apiGroups:
  - metering.sealos.io
  resources:
  - meterings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - metering.sealos.io
  resources:
  - podresources
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metering.sealos.io
  resources:
  - podresources/finalizers
  verbs:
  - update
- apiGroups:
  - metering.sealos.io
  resources:
  - podresources/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - metering.sealos.io
  resources:
  - resources
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metering.sealos.io
  resources:
  - resources/status
  verbs:
  - get
  - patch
  - update
