MONITOR_URL=
APP_LAUNCHPAD_URL=

HOSTING_POD_CPU_REQUIREMENT=200
HOSTING_POD_MEMORY_REQUIREMENT=128

# Enable/disable real-name verification blocking
SEALOS_ACCOUNT_SERVER=
SEALOS_ACCOUNT_SERVER_TOKEN_JWT_KEY=
SEALOS_APP_TOKEN_JWT_KEY=