.container {
  will-change: auto;
  position: absolute;
  bottom: 120px;
  right: 120px;
  z-index: 9999;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
}

.notrans {
  transition: none !important;
}

@keyframes slide-right-left {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes slide-left-right {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

.floatBtn {
  will-change: auto;
  position: absolute;
  z-index: 9999;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(28, 32, 35, 0.9);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

  &[data-suction='0'] {
    opacity: 1;
  }

  &[data-suction='left'] {
    transform: translateX(-100px);
    animation: slide-right-left 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  &[data-suction='right'] {
    transform: translateX(100px);
    animation: slide-left-right 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  .innerBtn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centerBtn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 2.33333px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cricleNav {
  will-change: auto;
  position: absolute;
  z-index: 9998;
  width: 200px;
  height: 200px;
  left: -68px;
  top: -68px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 300ms ease;
  transform: scale(0.1);
  overflow: hidden;
  backdrop-filter: blur(150px);
  background: rgba(28, 32, 35, 0.9);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

  &[data-open='true'] {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease;
  }

  .navItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    transition: opacity 300ms ease;
    transform-origin: 100% 100%;
    // background: rgba(21, 37, 57, 0.75);
    // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden; // important !!!
  }

  .subItem {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    overflow: hidden;
  }
}

.suctionState {
  transition: opacity 2.5s ease;
  position: absolute;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background: rgba(21, 37, 57, 0.6);
  box-shadow: 0px 1.16667px 2.33333px rgba(0, 0, 0, 0.2);

  &[data-suction='0'] {
    opacity: 0;
    transition: none;
  }

  &[data-suction='left'] {
    opacity: 1;
    left: -50px;
  }

  &[data-suction='right'] {
    opacity: 1;
    left: 50px;
  }
}

// .contexify {
//   background: rgba(239, 239, 242, 0.7);
//   backdrop-filter: blur(80px) saturate(150%);
//   color: #111824;
//   padding: 6px;
//   font-size: 12px;
//   top: 0;
//   left: 0;
//   min-width: 140px;
// }

// .arrow {
//   position: absolute;
//   top: 100%;
//   left: 46%;
//   width: 0;
//   height: 0;
//   width: 16px;
//   height: 9px;
//   background: rgba(239, 239, 242, 0.7);
//   backdrop-filter: blur(80px) saturate(150%);
//   clip-path: polygon(50% 100%, 0 0, 100% 0);
//   border-radius: 4px;
// }
