---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: deleterequests.user.sealos.io
spec:
  group: user.sealos.io
  names:
    kind: DeleteRequest
    listKind: DeleteRequestList
    plural: deleterequests
    singular: deleterequest
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: DeleteRequest is the Schema for the deleterequests API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DeleteRequestSpec defines the desired state of DeleteRequest
            properties:
              user:
                type: string
            type: object
          status:
            description: DeleteRequestStatus defines the observed state of DeleteRequest
            properties:
              phase:
                enum:
                - Pending
                - Processing
                - Completed
                - Failed
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
