NEXT_PUBLIC_MOCK_USER=
SEALOS_DOMAIN="cloud.sealos.io"
FASTGPT_KEY=
STORAGE_CLASSNAME=choosable
MONITOR_URL=""

MINIO_URL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_PORT=
MIGRATE_FILE_IMAGE=
MINIO_BUCKET_NAME=

# CUSTOM_SCRIPTS='[{"src": "test.js"}]'
DATABASE_ALERT_URL=

# chat2db
MANAGED_DB_ENABLED=
CHAT2DB_AES_KEY=
CHAT2DB_API_KEY=
CLIENT_DOMAIN_NAME=
GATEWAY_DOMAIN_NAME=
BILLING_URL=
BILLING_SECRET=

MIGRATION_JOB_CPU_REQUIREMENT=2000
MIGRATION_JOB_MEMORY_REQUIREMENT=4096

DUMPIMPORT_JOB_CPU_REQUIREMENT=300
DUMPIMPORT_JOB_MEMORY_REQUIREMENT=256

BACKUP_JOB_CPU_REQUIREMENT=300
BACKUP_JOB_MEMORY_REQUIREMENT=256
