apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "costcenter-frontend.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "costcenter-frontend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "costcenter-frontend.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  template:
    metadata:
      labels:
        {{- include "costcenter-frontend.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          image: "{{ .Values.image }}"
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          volumeMounts:
            - name: costcenter-frontend-volume
              mountPath: /app/data/config.yaml
              subPath: config.yaml
          readinessProbe:
            httpGet:
              path: /api/platform/getAppConfig
              port: {{ .Values.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 3
            timeoutSeconds: 2
            successThreshold: 3
            failureThreshold: 3
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: costcenter-frontend-volume
          configMap:
            name: {{ include "costcenter-frontend.fullname" . }}-config
