body,
h1,
h2,
h3,
h4,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
svg {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

iframe {
  border: none;
}

#__next {
  height: 100%;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

div.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: black;
  --rdp-background-color: #f4f6f8;
  /* Switch to dark colors for dark themes */
  // --rdp-accent-color-dark: #3003e1;
  // --rdp-background-color-dark: #180270;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}
