@import '@sealos/shadcn-ui/shadcn.css';
@import '@sealos/shadcn-ui/styles.css';

@theme {
  --background-image-plan-payg: linear-gradient(
    90deg,
    rgba(214, 217, 223, 0.16) 0%,
    rgba(175, 178, 195, 0.16) 100%
  );
  --background-image-plan-starter: linear-gradient(
    90deg,
    rgba(129, 203, 252, 0.12) 0%,
    rgba(81, 159, 245, 0.12) 100%
  );
  --background-image-plan-pro: linear-gradient(
    90deg,
    rgba(252, 129, 217, 0.12) 0%,
    rgba(81, 159, 245, 0.12) 100%
  );
  --background-image-plan-enterprise: linear-gradient(
    90deg,
    rgba(252, 149, 129, 0.12) 0%,
    rgba(81, 119, 245, 0.12) 100%
  );
  --background-image-plan-hobby: linear-gradient(
    90deg,
    rgba(229, 228, 118, 0.12) 0%,
    rgba(129, 203, 252, 0.12) 100%
  );
  --background-image-plan-hobby-plus: linear-gradient(
    90deg,
    rgba(139, 237, 163, 0.12) 0%,
    rgba(84, 187, 255, 0.12) 100%
  );
  --background-image-plan-team: linear-gradient(
    90deg,
    rgba(252, 129, 234, 0.12) 0%,
    rgba(144, 81, 245, 0.12) 100%
  );
  --background-image-plan-customized: linear-gradient(
    90deg,
    rgba(252, 149, 129, 0.12) 0%,
    rgba(206, 81, 245, 0.12) 100%
  );
}

/* New designs uses white color for background. It's different from the default theme in shadcn-ui package (previously used by DevBox). */
:root {
  --background: #ffffff;
}

body {
  height: 100vh;
  width: 100vw;
}

iframe {
  border: none;
}

#__next {
  height: 100%;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

div.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: black;
  --rdp-background-color: #f4f6f8;
  /* Switch to dark colors for dark themes */
  /* --rdp-accent-color-dark: #3003e1; */
  /* --rdp-background-color-dark: #180270; */
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}
