.introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;

  .comet-icon {
    display: flex;
    justify-content: center;
    margin-top: 140px;
  }

  .sealos-main-whysealos {
    margin-top: 28px;
    margin-bottom: 0;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
  }

  .features {
    max-width: 1280px;
    margin-top: 72px;
    margin-bottom: 80px;
    width: 100%;
    height: 650px;
    display: flex;
    color: #fff;

    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background-color: #202a36;
      font-size: 28px;
      font-weight: 600;
      padding: 8px 16px;
    }
    .tag1 {
      @extend .tag;
      color: #7bbcf9;
    }
    .tag2 {
      @extend .tag;
      width: fit-content;
      color: #8fe3de;
    }
    .tag3 {
      @extend .tag;
      margin-top: 310px;
      color: #aa9fec;
    }

    .left {
      flex-shrink: 1;
      width: 100%;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .route {
      flex-shrink: 1;
      position: relative;
      width: 100px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon1 {
        z-index: 1;
        position: absolute;
        top: 0;
      }
      .icon2 {
        z-index: 1;
        top: 213px;
        position: absolute;
      }
      .icon3 {
        z-index: 1;
        top: 436px;
        position: absolute;
      }
      .icon4 {
        z-index: 1;
        top: 580px;
        position: absolute;
      }
      .line1 {
        position: absolute;
        top: 36px;
        width: 4px;
        height: 220px;
        background: #274561;
      }
      .line2 {
        position: absolute;
        top: 256px;
        width: 4px;
        height: 220px;
        background: #274561;
      }
      .line3 {
        position: absolute;
        top: 480px;
        width: 4px;
        height: 110px;
        background: #274561;
      }
    }

    .right {
      flex-shrink: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-top: 220px;
    }

    .aid-text {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 600;
      line-height: 140%;
    }
  }
}

@import './index.phone.scss';
