.logs {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

.analysesAnimation::after {
  display: inline-block;
  content: '';
  width: 4px;
  height: 14px;
  transform: translate(4px, 2px) scaleY(1.3);
  background-color: var(--chakra-colors-chakra-body-text);
  animation: blink 0.6s infinite;
}
.textEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
