NEXT_PUBLIC_MOCK_USER= 

SEALOS_DOMAIN="cloud.sealos.io"
# mongodb
MONGODB_URI= 
# minio
MINIO_URL=
MINIO_BUCKET_NAME= 
MINIO_ACCESS_KEY= 
MINIO_SECRET_KEY= 
MINIO_PORT= 
# admin
ADMIN_FEISHU_URL=
JWT_SECRET_DESKTOP_TO_APP=
JWT_SECRET_SELF=
ADMIN_FEISHU_CALLBACK_URL=
ADMIN_API_TOKEN=
# fastgpt
FASTGPT_API_URL=
FASTGPT_API_KEY=
FASTGPT_API_LIMIT= 