NEXT_PUBLIC_MOCK_USER= 
SEALOS_DOMAIN="cloud.sealos.io"

# mongodb
MONGODB_URI= 
# minio
MINIO_URL=
MINIO_BUCKET_NAME= 
MINIO_ACCESS_KEY= 
MINIO_SECRET_KEY= 
MINIO_PORT= 
# admin
ADMIN_FEISHU_URL=
DESKTOP_JWT_SECRET=
APP_JWT_SECRET=