apiVersion: v1
kind: ConfigMap
metadata:
  name: account-manager-config
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    {{- include "account.labels" . | nindent 4 }}
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.1:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: a63686c3.sealos.io
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: account-manager-env
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    {{- include "account.labels" . | nindent 4 }}
data:
  ApproachingDeletionPeriod: "{{ .Values.accountEnv.approachingDeletionPeriod }}"
  ImminentDeletionPeriod: "{{ .Values.accountEnv.imminentDeletionPeriod }}"
  FinalDeletionPeriod: "{{ .Values.accountEnv.finalDeletionPeriod }}"
  DebtDetectionCycleSeconds: "{{ .Values.accountEnv.debtDetectionCycleSeconds }}"
  OSAdminSecret: "{{ .Values.accountEnv.osAdminSecret }}"
  OSInternalEndpoint: "{{ .Values.accountEnv.osInternalEndpoint }}"
  OSNamespace: "{{ .Values.accountEnv.osNamespace }}"
  MONGO_URI: "{{ .Values.accountEnv.mongoURI }}"
  LOCAL_COCKROACH_URI: "{{ .Values.accountEnv.localCockroachURI }}"
  GLOBAL_COCKROACH_URI: "{{ .Values.accountEnv.globalCockroachURI }}"
  TRAFFIC_MONGO_URI: "{{ .Values.accountEnv.trafficMongoURI }}"
  LOCAL_REGION: "{{ .Values.accountEnv.localRegion }}"
  DOMAIN: "{{ .Values.accountEnv.cloudDomain }}"
  PORT: "{{ .Values.accountEnv.cloudPort }}"
  ACCOUNT_API_JWT_SECRET: "{{ .Values.accountEnv.accountApiJwtSecret }}"
  BASE_BALANCE: "{{ .Values.accountEnv.baseBalance }}"
