.home-header {
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // padding-top: 48px; // sale

  .header-img {
    width: 100%;
    position: absolute;
    top: 0px;
  }

  nav {
    max-width: 1280px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    .sealos-title {
      line-height: 140%;
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
    }

    .left {
      display: flex;
      align-items: center;
      cursor: default;

      svg {
        margin-right: 6px;
        height: 46px;
      }
    }

    .links {
      margin-left: 40px;
      a {
        position: relative;
        margin-right: 28px;
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
        text-decoration: none;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #69bcf8;
          transition: 0.2s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      color: #fff;
      .git-icon {
        margin-left: 20px;
        line-height: 1;
        display: flex;
        align-items: center;
        text-decoration: none;
      }

      .git-stars {
        margin-left: 8px;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
      }

      .i18nIcon {
        margin-left: 16px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        a {
          font-size: 16px;
        }
      }

      a {
        color: #fff;
        font-size: 1.1rem;
      }

      .start-now-button-wrap {
        position: absolute;
        width: 150px;
        height: 42px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.2);
        filter: blur(4px);
        pointer-events: none;
      }

      .start-now-button {
        margin-left: 44px;
        cursor: pointer;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.9);
        color: #000;
        font-weight: 600;
        font-size: 1rem;
        width: 142px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-decoration: none;
      }
    }
  }
  main {
    text-align: center;
    max-width: 1120px;
    margin: 0 auto;
    z-index: 9;
    .sealos-main-header {
      margin-top: 100px;
      margin-bottom: 0;
      font-size: 48px;
      font-weight: 600;
      .txt-title {
        color: #379fff;
      }
      .txt-aid {
        color: rgba(185, 221, 255, 1);
      }
    }
    h1 {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 1);
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 96px;
      font-weight: 600;
      line-height: 140%;
    }
    h3 {
      margin: 28px 48px 0px 48px;
      color: #b9ddff;
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-weight: 600;
      line-height: 140%;
      margin-top: 16px;
      .txt-title {
        color: #379fff;
      }
      @media screen and (min-width: 450px) and (max-width: 1000px) {
        padding: 0 60px;
      }
    }
  }
  .comet {
    width: 100%;
    height: 30px;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sealos_home_header_title {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1220px) {
  .home-header {
    main {
      h1 {
        font-size: 80px;
      }
    }
  }
}

@import './index.phone.scss';
