# Custom values for user controller helm chart.
# This file contains user-customizable configurations.

replicaCount: 1

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 10m
    memory: 64Mi
