apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "resources.fullname" . }}-manager-config
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    {{- include "resources.labels" . | nindent 4 }}
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    {{- toYaml .Values.managerConfig | nindent 4 }}
