apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configmap.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    {{- include "resources.labels" . | nindent 4 }}
data:
  MONGO_URI: {{ .Values.configmap.mongoURI | quote }}
  TRAFFIC_MONGO_URI: {{ .Values.configmap.trafficMongoURI | quote }}
  TRAFFICS_SERVICE_CONNECT_ADDRESS: {{ .Values.configmap.trafficsServiceConnectAddress | quote }}
  MINIO_ENDPOINT: {{ .Values.configmap.minioEndpoint | quote }}
  MINIO_AK: {{ .Values.configmap.minioAK | quote }}
  MINIO_SK: {{ .Values.configmap.minioSK | quote }}
  MINIO_METRICS_ADDR: {{ .Values.configmap.minioMetricsAddr | quote }}
  MINIO_METRICS_SECURE: {{ .Values.configmap.minioMetricsSecure | quote }}
  PROM_URL: {{ .Values.configmap.promURL | quote }}
  OBJECT_STORAGE_INSTANCE: {{ .Values.configmap.objectStorageInstance | quote }}
  ENABLE_AUTO_RESOURCE_QUOTA: {{ .Values.configmap.enableAutoResourceQuota | quote }}
  CONCURRENT_LIMIT: {{ .Values.configmap.concurrentLimit | quote }}
  EPHEMERAL_STORAGE_CHARGE_THRESHOLD: {{ .Values.configmap.ephemeralStorageChargeThreshold | quote }}
  LIMIT_QUOTA_EXPANSION_CYCLE: {{ .Values.configmap.limitQuotaExpansionCycle | quote }}
