apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    {{- include "resources.labels" . | nindent 4 }}
type: Opaque
stringData:
  MONGO_URI: {{ .Values.secret.mongoURI | quote }}
  TRAFFIC_MONGO_URI: {{ .Values.secret.trafficMongoURI | quote }}
