{{- if .Values.metrics.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "resources.fullname" . }}-controller-manager-metrics-service
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    {{- include "resources.labels" . | nindent 4 }}
spec:
  ports:
    - name: https
      port: {{ .Values.service.metrics.port }}
      protocol: TCP
      targetPort: https
  selector:
    control-plane: controller-manager
{{- end }}
