apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: imagehub-cluster-issuer
  namespace: imagehub-frontend
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: admin@sealos.io
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      - http01:
          ingress:
            class: nginx
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: imagehub-cert
  namespace: imagehub-frontend
spec:
  secretName: imagehub-cert-secret
  dnsNames:
    - imagehub.{{ .cloudDomain }}
  issuerRef:
    name: imagehub-cluster-issuer
    kind: ClusterIssuer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  name: imagehub-frontend
  namespace: imagehub-frontend
spec:
  rules:
    - host: imagehub.{{ .cloudDomain }}
      http:
        paths:
          - pathType: Prefix
            path: /()(.*)
            backend:
              service:
                name: imagehub-frontend
                port:
                  number: 3000
  tls:
    - hosts:
        - imagehub.{{ .cloudDomain }}
      secretName: imagehub-cert-secret