apiVersion: v1
kind: Secret
metadata:
  name: pay-secret
  namespace: {{ .DEFAULT_NAMESPACE }}
stringData:
  AppID: {{ default "" .WECHAT_APPID }}
  MchAPIv3Key: {{ default "" .WECHAT_MCHAPIV3KEY }}
  MchCertificateSerialNumber: {{ default "" .MCH_CERTIFICATE_SERIAL_NUMBER }}
  MchID: {{ default "" .WECHAT_MCHID }}
  STRIPE_CANCEL_POSTFIX: {{ default "" .STRIPE_CANCEL_POSTFIX }}
  STRIPE_SUCCESS_POSTFIX: {{ default "" .STRIPE_SUCCESS_POSTFIX }}
  STRIPE_CURRENCY: {{ default "" .STRIPE_CURRENCY }}
  STRIPE_API_KEY: {{ default "" .STRIPE_API_KEY }}
  WechatPrivateKey: {{ default "" .WECHAT_PRIVATE_KEY }}
  dburi: {{ default "" .MONGODB_URI }}
