NEXT_PUBLIC_MOCK_USER=
SEALOS_CLOUD_DOMAIN=
SEALOS_CERT_SECRET_NAME=
TEMPLATE_REPO_URL="https://github.com/labring-actions/templates"
TEMPLATE_REPO_BRANCH="main"
# The CDN_URL environment variable is used to specify a CDN address; when set, it replaces raw.githubusercontent.com in the resource loading URL. If not set, the default address is used.
CDN_URL=
BLACKLIST_CATEGORIES=""
SIDEBAR_MENU_COUNT=""