NEXT_PUBLIC_MOCK_USER=
SEALOS_CLOUD_DOMAIN=
SEALOS_CERT_SECRET_NAME=
TEMPLATE_REPO_URL="https://github.com/labring-actions/templates"
TEMPLATE_REPO_BRANCH="main"
# The CDN_URL environment variable is used to specify a CDN address; when set, it replaces raw.githubusercontent.com in the resource loading URL. If not set, the default address is used.
CDN_URL=
TEMPLATE_CATEGORIES='[{"slug":"ai","i18n":{"en":"AI","zh":"AI"}},{"slug":"backend","i18n":{"en":"Backend","zh":"后端"}},{"slug":"blog","i18n":{"en":"Blog","zh":"博客"}},{"slug":"database","i18n":{"en":"Database","zh":"数据库"}},{"slug":"dev-ops","i18n":{"en":"DevOps","zh":"运维"}},{"slug":"frontend","i18n":{"en":"Frontend","zh":"前端"}},{"slug":"game","i18n":{"en":"Games","zh":"游戏"}},{"slug":"low-code","i18n":{"en":"Low-Code","zh":"低代码"}},{"slug":"monitor","i18n":{"en":"Monitoring","zh":"监控"}},{"slug":"storage","i18n":{"en":"Storage","zh":"存储"}},{"slug":"tool","i18n":{"en":"Tools","zh":"工具"}}]'

DESKTOP_DOMAIN=""
GUIDE_ENABLED="false"
BILLING_URL=""

NEXT_PUBLIC_BRAND_NAME="sealos"
ENABLE_README_FETCH=true
