APP_TOKEN_JWT_KEY=
AI_PROXY_BACKEND_KEY=
AI_PROXY_BACKEND=
AI_PROXY_BACKEND_INTERNAL=
ADMIN_NAMESPACES=
CURRENCY_SYMBOL=
ACCOUNT_SERVER=
ACCOUNT_SERVER_TOKEN_JWT_KEY=
DOC_URL=
IS_INVITATION_ACTIVE=true
INVITATION_URL=

# for dev
NODE_ENV=
NEXT_PUBLIC_MOCK_USER=


# NEXT_PUBLIC_CUSTOM_SCRIPTS='[{"src": "http://www.example.com/example.js"}]'