apiVersion: app.sealos.io/v1
kind: App
metadata:
  name: objectstorage
  namespace: app-system
spec:
  data:
    desc: object storage
    url: https://objectstorage.{{ .cloudDomain }}:443
  displayType: normal
  i18n:
    zh:
      name: 对象存储
    zh-Hans:
      name: 对象存储
  icon: https://objectstorage.{{ .cloudDomain }}:443/logo.svg
  menuData:
    helpDropDown: false
    nameColor: text-black
  name: Object Storage
  type: iframe