NEXT_PUBLIC_MOCK_USER=1
SEALOS_DOMAIN="192.168.0.134"
IMAGE_REPO_URL=http://192.168.0.134:5000/v2
SERVER_BASE_URL=http://192.168.0.134:5002
IMAGE_REPO_USERNAME="admin"
IMAGE_REPO_PASSWORD=passw0rd
LAUNCHPAD_USERNAME="admin"
LAUNCHPAD_PASSWORD="Sealos@2024"
JWT_SECRET="SEALOS_SECRET"
DOMAIN_PORT=
FASTGPT_KEY=
CURRENCY=
MONITOR_URL=
INGRESS_SECRET=
GUIDE_ENABLED=
SERVER_BASE_URL=
MONITOR_PAGE_URL=http://172.20.22.234:31009/d/StarsL_cn_K8S/