NEXT_PUBLIC_MOCK_USER=1
SEALOS_DOMAIN="192.168.31.40"
IMAGE_REPO_URL=http://192.168.31.40:5000/v2
SERVER_BASE_URL=http://192.168.31.40:5002
IMAGE_REPO_USERNAME="admin"
IMAGE_REPO_PASSWORD=passw0rd
LAUNCHPAD_USERNAME="admin"
LAUNCHPAD_PASSWORD="Sealos@2024"
JWT_SECRET="SEALOS_SECRET"
DOMAIN_PORT=
FASTGPT_KEY=
CURRENCY=
MONITOR_URL=
INGRESS_SECRET=
GUIDE_ENABLED=
NODE_ENV=development
MONITOR_PAGE_URL=http://192.168.31.40:31009/d/StarsL_cn_K8S/