apiVersion: v1
data:
  tls.crt:
  tls.key:
kind: Secret
metadata:
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: sealos,sealos-system,ns-[\-a-z0-9]*
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: sealos,sealos-system,ns-[\-a-z0-9]*
  name: wildcert-secret
  namespace: sealos-system
type: kubernetes.io/tls
