.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  border-radius: 64px;
}

.default {
  width: 138px;
  height: 32px;
}

.medium {
  width: 112px;
  height: 32px;
}

.small {
  width: 68px;
  height: 38px;
}

.mini {
  width: 44px;
  height: 18px;
}

.base {
  color: #239bf2;
  background: rgba(255, 255, 255, 0.8);
}

.primary {
  background: #239bf2;
}

.success {
  background: #67c23a;
}

.danger {
  background: rgba(236, 137, 45, 0.15);
}

.lightBlue {
  background: rgba(35, 155, 242, 0.15);
  border-radius: 12px;
  color: #239bf2;
}

.round {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.squareRound {
  width: 32px;
  height: 32px;
  border-radius: 12px;
}

.plain {
  border: 1px solid #239bf2;
  border-radius: 12px;
}
