apiVersion: v1
kind: ConfigMap
metadata:
  name: desktop-frontend-config
  namespace: sealos
data:
  config.yaml: |
    cloud:
      domain: "{{ .cloudDomain }}"
      port: "{{ .cloudPort }}"
      regionUID: "{{ .regionUID }}"
      certSecretName: "{{ .certSecretName }}"
      proxyDomain: "{{ .cloudDomain }}"
      allowedOrigins:
        - "https://workorder.{{ .cloudDomain }}"
        - "https://invite.{{ .cloudDomain }}"
        - "https://applaunchpad.{{ .cloudDomain }}"
        - "https://dbprovider.{{ .cloudDomain }}"
        - "https://costcenter.{{ .cloudDomain }}"
        - "https://cronjob.{{ .cloudDomain }}"
        - "https://objectstorage.{{ .cloudDomain }}"
        - "https://template.{{ .cloudDomain }}"
        - "https://terminal.{{ .cloudDomain }}"
        - "https://kubepanel.{{ .cloudDomain }}"
        - "https://devbox.{{ .cloudDomain }}"
        - "https://sealaf.{{ .cloudDomain }}"
        - "https://aiproxy-web.{{ .cloudDomain }}"
        - "https://ba0516339c3261c4f603.{{ .cloudDomain }}"
    common:
      guideEnabled: false
      apiEnabled: false
      rechargeEnabled: false
      enterpriseRealNameAuthEnabled: false
      trackingEnabled: false
      realNameAuthEnabled: false
      realNameReward: 0
      realNameCallbackUrl: "https://cloud.example.org/api/account/faceIdRealNameAuthCallback"
      templateUrl: "https://template.example.org"
      applaunchpadUrl: "https://applaunchpad.example.org"
      dbproviderUrl: "https://dbprovider.example.org"
      objectstorageUrl: "https://objectstorage.example.org"
      cfSiteKey: ""

    database:
      mongodbURI: "{{ .databaseMongodbURI }}"
      globalCockroachdbURI: "{{ .databaseGlobalCockroachdbURI }}"
      regionalCockroachdbURI: "{{ .databaseLocalCockroachdbURI }}"

    desktop:
      layout:
        version: "en"
        title: "Sealos Cloud"
        logo: "/logo.svg"
        backgroundImage: "/images/bg-light.svg"
        forcedLanguage: "en"
        customerServiceURL: "https://service.example.org"
        gtmId: null
        meta:
          title: "Sealos Cloud"
          description: "Sealos Cloud"
          keywords: "Sealos Cloud"
          scripts: []
          noscripts: []
        common:
          githubStarEnabled: true
          workorderEnabled: false
          accountSettingEnabled: true
          docsUrl: "https://sealos.run/docs/Intro/"
          aiAssistantEnabled: false
          bannerEnabled: false
          subscriptionEnabled: false
      auth:
        proxyAddress: ""
        callbackURL: "https://{{ .cloudDomain }}{{ if .cloudPort }}:{{ .cloudPort }}{{ end }}/callback"
        signUpEnabled: true
        baiduToken: ""
        hasBaiduToken: false
        bingAd:
          tenant: ""
          clientId: ""
          clientSecret: ""
          refreshToken: ""
          developerToken: ""
          customerId: 0
          customerAccountId: 0
          conversionName: ""
        invite:
          enabled: false
          lafSecretKey: ""
          lafBaseURL: ""
        jwt:
          internal: "{{ .jwtInternal }}"
          regional: "{{ .jwtRegional }}"
          global: "{{ .jwtGlobal }}"
        idp:
          password:
            enabled: true
            salt: "{{ .passwordSalt }}"
          github:
            enabled: false
            proxyAddress: ""
            clientID: ""
            clientSecret: ""
          wechat:
            enabled: false
            proxyAddress: ""
            clientID: ""
            clientSecret: ""
          google:
            enabled: false
            proxyAddress: ""
            clientID: ""
            clientSecret: ""
          oauth2:
            enabled: false
            callbackURL: ""
            clientID: ""
            proxyAddress: ""
            clientSecret: ""
            authURL: ""
            tokenURL: ""
            userInfoURL: ""
          sms:
            enabled: false
            ali:
              enabled: false
              endpoint: ""
              templateCode: ""
              signName: ""
              accessKeyID: ""
              accessKeySecret: ""
          email:
            enabled: false
            host: ""
            port: 0
            user: ""
            password: ""
            language: ""
        captcha:
          turnstile:
            enabled: false
            siteKey: ""
            secretKey: ""
          ali:
            enabled: false
            endpoint: ""
            sceneId: ""
            prefix: ""
            accessKeyID: ""
            accessKeySecret: ""
        billingUrl: "http://account-service.account-system.svc:2333"
        billingToken: ""
        workorderUrl: "https://workorder.example.org"
        cloudVitrualMachineUrl: "https://cloudvirtualmachine.example.org"

      teamManagement:
        maxTeamCount: 0
        maxTeamMemberCount: 0

    tracking:
      websiteId: ""
      hostUrl: ""

    realNameOSS:
      accessKey: ""
      accessKeySecret: ""
      endpoint: ""
      ssl: false
      port: 0
      realNameBucket: ""
      enterpriseRealNameBucket: ""
