# Copyright © 2022 sealos.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: ServiceAccount
metadata:
  name: desktop-frontend
  namespace: sealos
---
apiVersion: v1
kind: Service
metadata:
  name: desktop-frontend
  namespace: sealos
spec:
  ports:
    - port: 3000
  selector:
    app: desktop-frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: desktop-frontend
  namespace: sealos
spec:
  selector:
    matchLabels:
      app: desktop-frontend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  template:
    metadata:
      labels:
        app: desktop-frontend
    spec:
      serviceAccountName: desktop-frontend
      initContainers:
        - name: init-database
          image: ghcr.io/labring/sealos-desktop-frontend:latest
          command: ["/bin/sh", "-c"]
          args:
            - |
              export REGION_DATABASE_URL=$(cat /app/data/config.yaml | awk '/regionalCockroachdbURI:/ {print $2}' | tr -d '"')
              export GLOBAL_DATABASE_URL=$(cat /app/data/config.yaml | awk '/globalCockroachdbURI:/ {print $2}' | tr -d '"')
              prisma migrate deploy --schema /app/desktop/prisma/global/schema.prisma
              prisma migrate deploy --schema /app/desktop/prisma/region/schema.prisma
          volumeMounts:
            - mountPath: /app/data/config.yaml
              name: desktop-frontend-volume
              subPath: config.yaml
      containers:
        - name: desktop-frontend
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          command: ["/bin/sh", "-c"]
          args:
            - |
              REGION_DATABASE_URL=$(cat /app/data/config.yaml | awk '/regionalCockroachdbURI:/ {print $2}' | tr -d '"') \
              GLOBAL_DATABASE_URL=$(cat /app/data/config.yaml | awk '/globalCockroachdbURI:/ {print $2}' | tr -d '"') \
              node /app/desktop/server.js
          readinessProbe:
            httpGet:
              path: /api/platform/getAppConfig
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 3
            timeoutSeconds: 2
            successThreshold: 3
            failureThreshold: 3
          image: ghcr.io/labring/sealos-desktop-frontend:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /app/data/config.yaml
              name: desktop-frontend-volume
              subPath: config.yaml
          resources:
            limits:
              cpu: 2000m
              memory: 2048Mi
            requests:
              cpu: 100m
              memory: 128Mi
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: "app"
                      operator: In
                      values:
                        - desktop-frontend
                topologyKey: "kubernetes.io/hostname"
      volumes:
        - name: desktop-frontend-volume
          configMap:
            name: desktop-frontend-config