apiVersion: v1
kind: Namespace
metadata:
  labels:
    app: template-frontend
  name: template-frontend
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: template-frontend-config
  namespace: template-frontend
data:
  config.yaml: |-
    # yaml-language-server: $schema=config.schema.json
    cloud:
        domain: '{{ .cloudDomain }}'
        port: {{ .cloudPort }}
        regionUid: ''
        certSecretName: '{{ .certSecretName }}'

    template:
        ui:
            brandName: Sealos
            forcedLanguage: en
            currencySymbolType: shellCoin
            meta:
                canonicalUrl: https://template.example.org
                customScripts: []
            carousel:
                enabled: false
                slides: []

        repo:
            url: {{ .templateRepoUrl }}
            branch: {{ .templateRepoBranch }}
            localDir: template

        features:
            fetchReadme: {{ .enableReadmeFetch }}
            showAuthor: false
            guide: {{ .guideEnabled }}

        # cdnHost: cdn.jsdelivr.net
        excludedCategories: []
        sidebarMenuCount: 10
        desktopDomain: '{{ .cloudDomain }}'
        userDomain: '{{ .userDomain }}'
        billingUrl: '{{ .billingUrl }}'

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: template-frontend
  namespace: template-frontend
spec:
  selector:
    matchLabels:
      app: template-frontend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  template:
    metadata:
      labels:
        app: template-frontend
    spec:
      containers:
        - name: template-frontend
          resources:
            limits:
              cpu: 2000m
              memory: 1024Mi
            requests:
              cpu: 10m
              memory: 128Mi
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          image: ghcr.io/labring/sealos-template-frontend:latest
          imagePullPolicy: Always
          readinessProbe:
            httpGet:
              httpHeaders:
              - name: Accept
                value: application/json
              path: /api/platform/getClientAppConfig
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 3

          volumeMounts:
            - name: template-frontend-volume
              mountPath: /app/data/config.yaml
              subPath: config.yaml
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: "app"
                  operator: In
                  values:
                  - template-frontend
              topologyKey: "kubernetes.io/hostname"
      volumes:
        - name: template-frontend-volume
          configMap:
            name: template-frontend-config
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: template-frontend
  name: template-frontend
  namespace: template-frontend
spec:
  ports:
    - name: http
      port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: template-frontend
---
apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: template-frontend
  name: template-static
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  schedule: "0 0 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: default
          containers:
          - name: template-static
            image: bitnamilegacy/kubectl:latest
            command:
            - /bin/sh
            - -c
            - >
              echo "$(kubectl get instances -A -o=jsonpath='{range .items[*]}{.spec.title}{"\n"}{end}' | tr a-z A-Z | sort | uniq -c | sort -nr | sed 's/   *//g')" > /tmp/install-count &&
              kubectl create configmap -n template-frontend template-static --from-file=/tmp/install-count -o yaml --dry-run=client | kubectl apply -f -
            imagePullPolicy: IfNotPresent
          restartPolicy: OnFailure
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: template-frontend-static-role
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["create", "get", "list", "watch", "update", "delete","patch"]
- apiGroups: ["app.sealos.io"]
  resources: ["instances"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: template-frontend-static-role-binding
subjects:
- kind: ServiceAccount
  name: default
  namespace: template-frontend
roleRef:
  kind: ClusterRole
  name: template-frontend-static-role
  apiGroup: rbac.authorization.k8s.io