{{ $scheme := "https" }}
{{ $port := .cloudPort }}
{{ if eq .disableHttps "true" }}
{{ $scheme = "http" }}
{{ $port = .httpPort }}
{{ end }}
apiVersion: app.sealos.io/v1
kind: App
metadata:
  name: applaunchpad
  namespace: app-system
spec:
  data:
    desc: App Launchpad
    url: "{{ $scheme }}://applaunchpad.{{ .cloudDomain }}{{ if $port }}:{{ $port }}{{ end }}"
  icon: "{{ $scheme }}://applaunchpad.{{ .cloudDomain }}{{ if $port }}:{{ $port }}{{ end }}/logo.svg"
  i18n:
    zh:
      name: 应用管理
    zh-Hans:
      name: 应用管理
  menuData:
  name: App Launchpad
  type: iframe
  displayType: normal
