apiVersion: v1
kind: Namespace
metadata:
  labels:
    app: applaunchpad-frontend
  name: applaunchpad-frontend
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: applaunchpad-frontend-config
  namespace: applaunchpad-frontend
data:
  config.yaml: |-
    addr: :3000
  form_slider_config.json: |-
    {
      "NoGpu": {
        "cpu": [100, 200, 500, 1000, 2000, 3000, 4000, 8000],
        "memory": [64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384]
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: applaunchpad-frontend
  namespace: applaunchpad-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: applaunchpad-frontend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  template:
    metadata:
      labels:
        app: applaunchpad-frontend
    spec:
      containers:
        - env:
            - name: SEALOS_DOMAIN
              value: {{ .cloudDomain }}
            - name: DOMAIN_PORT
              value: "{{ if .cloudPort }}:{{ .cloudPort }}{{ end }}"
            - name: INGRESS_SECRET
              value: {{ .ingressSecret }}
            - name: FASTGPT_KEY
          name: applaunchpad-frontend
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          resources:
            limits:
              cpu: 1000m
              memory: 1024Mi
            requests:
              cpu: 10m
              memory: 128Mi
          # do not modify this image, it is used for CI/CD
          image: ghcr.io/labring/sealos-applaunchpad-frontend:latest
          imagePullPolicy: Always
          volumeMounts:
            - name: applaunchpad-frontend-volume
              mountPath: /config.yaml
              subPath: config.yaml
            - mountPath: /app/data/form_slider_config.json
              name: applaunchpad-frontend-volume
              subPath: form_slider_config.json
      volumes:
        - name: applaunchpad-frontend-volume
          configMap:
            name: applaunchpad-frontend-config
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: applaunchpad-frontend
  name: applaunchpad-frontend
  namespace: applaunchpad-frontend
spec:
  ports:
    - name: http
      port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: applaunchpad-frontend
