apiVersion: v1
kind: Namespace
metadata:
  labels:
    app: applaunchpad-frontend
  name: applaunchpad-frontend
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: applaunchpad-frontend-config
  namespace: applaunchpad-frontend
data:
  config.yaml: |-
    cloud:
      domain: {{ .cloudDomain }}
      port: {{ if .cloudPort }}:{{ .cloudPort }}{{ end }}
    common:
      guideEnabled: false
      apiEnabled: false
    launchpad:
      ingressTlsSecretName: {{ .ingressTlsSecretName }}
      eventAnalyze:
        enabled: false
        fastGPTKey: ""
      components:
        monitor:
          url: {{ .monitorUrl }}
      appResourceFormSliderConfig:
        default:
          cpu: [100, 200, 500, 1000, 2000, 3000, 4000, 8000]
          memory: [64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384]
      fileManger:
        uploadLimit: 50 # MB
        downloadLimit: 100 # MB
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: applaunchpad-frontend
  namespace: applaunchpad-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: applaunchpad-frontend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  template:
    metadata:
      labels:
        app: applaunchpad-frontend
    spec:
      containers:
        - name: applaunchpad-frontend
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          resources:
            limits:
              cpu: 2000m
              memory: 2048Mi
            requests:
              cpu: 10m
              memory: 128Mi
          # do not modify this image, it is used for CI/CD
          image: ghcr.io/labring/sealos-applaunchpad-frontend:latest
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: /app/data/config.yaml
              name: applaunchpad-frontend-volume
              subPath: config.yaml
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: "app"
                  operator: In
                  values:
                  - applaunchpad-frontend
              topologyKey: "kubernetes.io/hostname"
      volumes:
        - name: applaunchpad-frontend-volume
          configMap:
            name: applaunchpad-frontend-config
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: applaunchpad-frontend
  name: applaunchpad-frontend
  namespace: applaunchpad-frontend
spec:
  ports:
    - name: http
      port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: applaunchpad-frontend
