apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: database-alert
  name: database-alert-deployment
  namespace: sealos
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: database-alert
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: database-alert
    spec:
      containers:
      - image: ghcr.io/labring/sealos-exceptionMonitor-service:latest
        imagePullPolicy: Always
        name: database-alert
        ports:
        - containerPort: 8000
          protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 500M
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        env:
        - name: ClusterName
          value: ""
        - name: MonitorType
          value: ""
        - name: ClusterNS
          value: ""
        - name: FeishuWebhookURLUFA
          value: "https://open.feishu.cn/open-apis/bot/v2/hook/39260980-fbea-4c1a-9f72-f75c372c1b73"
        - name: FeishuWebhookURLCSD
          value: "https://open.feishu.cn/open-apis/bot/v2/hook/53c80da2-74e4-4e90-9a82-57ff04c5c301"
        - name: FeishuWebhookURLOther
          value: "https://open.feishu.cn/open-apis/bot/v2/hook/0095147f-b8ad-40d0-a6a1-79af0bcbd7b3"
        - name: FeishuWebhookURLImportant
          value: "https://open.feishu.cn/open-apis/bot/v2/hook/31d9ca94-bae3-43d1-b858-06bb7955217b"
        - name: GlobalCockroachURI
          value: ""
        - name: LocalCockroachURI
          value: ""
        - name: SMSAccessKeyID
          value: ""
        - name: SMSAccessKeySecret
          value: ""
        - name: SMSEndpoint
          value: ""
        - name: SMS_SIGN_NAME
          value: ""
        - name: SMS_CODE
          value: ""
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
