apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "node-controller.fullname" . }}
  labels:
    control-plane: controller-manager
    {{- include "node-controller.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      control-plane: controller-manager
      {{- include "node-controller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        kubectl.kubernetes.io/default-container: manager
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        control-plane: controller-manager
        {{- include "node-controller.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "node-controller.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: manager
        command:
          - /manager
        args:
          - --health-probe-bind-address=:8081
          - --leader-elect
          {{- if .Values.metrics.enabled }}
          - --metrics-bind-address=:8443
          {{- else }}
          - --metrics-bind-address=127.0.0.1:8080
          {{- end }}
        env:
          - name: ALIAS_NAME
            value: gpu-alias
          - name: ALIAS_NAMESPACE
            value: {{ .Release.Namespace }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 10 }}
        image: "{{ .Values.image }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        volumeMounts:
          {{- with .Values.volumeMounts }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- if .Values.metrics.enabled }}
          - name: metrics-certs
            mountPath: {{ .Values.metrics.certPath }}
            readOnly: true
          {{- end }}
      {{- if .Values.metrics.enabled }}
      - name: kube-rbac-proxy
        args:
          - --secure-listen-address=0.0.0.0:8443
          - --upstream=http://127.0.0.1:8080/
          - --logtostderr=true
          - --v=0
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.0
        ports:
          - containerPort: 8443
            name: https
            protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 5m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
      {{- end }}
      volumes:
        {{- if .Values.metrics.enabled }}
        - name: metrics-certs
          secret:
            secretName: {{ .Values.metrics.secretName }}
            defaultMode: 0400
        {{- end }}
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

