{{- if .Values.metrics.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "node-controller.fullname" . }}-controller-manager-metrics-service
  labels:
    control-plane: controller-manager
    {{- include "node-controller.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: https
      port: 8443
      targetPort: https
      protocol: TCP
  selector:
    control-plane: controller-manager
    {{- include "node-controller.selectorLabels" . | nindent 4 }}
{{- end }}
