@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f7;
  --foreground: #111824;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f4f7;
    --foreground: #111824;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}
