apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "ipvs"
---
apiVersion: kubeadm.k8s.io/v1beta1
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
controlPlaneEndpoint: ""
controllerManager: {}
dns:
  type: CoreDNS
imageRepository: k8s.gcr.io
kind: ClusterConfiguration
kubernetesVersion: v{{ k8s_version }}
networking:
  dnsDomain: cluster.local
  serviceSubnet: 10.96.0.0/12
  podSubnet: 100.64.0.0/10
apiServer:
    certSANs:
    - {{vip}}
{% for host in groups['k8s-master'] %}
    - {{host}}
    - {{hostvars[host].name}}
{% endfor %}
    - 127.0.0.1
    extraArgs:
       etcd-cafile: /etc/kubernetes/pki/cfssl/ca.pem
       etcd-certfile: /etc/kubernetes/pki/cfssl/client.pem
       etcd-keyfile: /etc/kubernetes/pki/cfssl/client-key.pem 
etcd:
    external:
        caFile: /etc/kubernetes/pki/cfssl/ca.pem
        certFile: /etc/kubernetes/pki/cfssl/client.pem
        keyFile: /etc/kubernetes/pki/cfssl/client-key.pem 
        endpoints:
{% for host in groups['k8s-master'] %}
        - https://{{host}}:2379
{% endfor %}

# ignorePreflightErrors: all
