apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
networking:
  podSubnet: 100.64.0.0/10
kubernetesVersion: v{{ k8s_version }}

apiServerCertSANs:
- {{vip}}
{% for host in groups['k8s-master'] %}
- {{host}}
- {{hostvars[host].name}}
{% endfor %}
- 127.0.0.1

ignorePreflightErrors: all

etcd:
    external:
        caFile: /etc/kubernetes/pki/cfssl/ca.pem
        certFile: /etc/kubernetes/pki/cfssl/client.pem
        keyFile: /etc/kubernetes/pki/cfssl/client-key.pem 
        endpoints:
{% for host in groups['k8s-master'] %}
        - https://{{host}}:2379
{% endfor %}

kubeProxy:
    config:
       mode: "ipvs"

apiServerExtraArgs:
   etcd-cafile: /etc/kubernetes/pki/cfssl/ca.pem
   etcd-certfile: /etc/kubernetes/pki/cfssl/client.pem
   etcd-keyfile: /etc/kubernetes/pki/cfssl/client-key.pem 
