.userCard {
  position: relative;
  width: 331px;
  background: #24282c;
  border-radius: 8px;
  color: #ffffff;
  padding: 15px 26px 24px 24px;
  overflow: hidden;
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 313px;
    height: 313px;
    background-color: #ffffff;
    border-radius: 50%;
    right: -100px;
    opacity: 0.1;
  }
  &::after {
    // left: 93px;
    bottom: -130px;
    
    // bottom: 13px;
  }
  &::before {
    // right: 93px;
    // bottom: 3px;
    // left: 93px;
    bottom: -180px;
  }
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
