.uicon {
  position: relative;
  display: grid;
  place-items: center;

  &[data-payload='true']::after {
    content: '';
    position: absolute;
    width: 3px;
    left: 0;
    height: 24px;
    border-radius: 10px;
    background: var(--clrPrm);
  }

  &:hover {
    background: var(--nav-btn-hov);
    color: var(--dark-txt);
  }

  &[data-payload='true'] {
    background: var(--nav-btn-hov);
    color: var(--clrPrm);
  }
}
