apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: account-system
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: accountbalances.account.sealos.io
spec:
  group: account.sealos.io
  names:
    kind: AccountBalance
    listKind: AccountBalanceList
    plural: accountbalances
    singular: accountbalance
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.amount
      name: Amount
      type: integer
    name: v1
    schema:
      openAPIV3Schema:
        description: AccountBalance is the Schema for the accountbalances API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AccountBalanceSpec defines the desired state of AccountBalance
            properties:
              amount:
                format: int64
                type: integer
              details:
                type: string
              owner:
                type: string
              timeStamp:
                format: int64
                type: integer
            required:
            - owner
            type: object
          status:
            description: AccountBalanceStatus defines the observed state of AccountBalance
            properties:
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: accounts.account.sealos.io
spec:
  group: account.sealos.io
  names:
    kind: Account
    listKind: AccountList
    plural: accounts
    singular: account
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Account is the Schema for the accounts API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AccountSpec defines the desired state of Account
            type: object
          status:
            description: AccountStatus defines the observed state of Account
            properties:
              balance:
                description: Recharge amount
                format: int64
                type: integer
              chargeList:
                items:
                  properties:
                    accountBalanceName:
                      type: string
                    balance:
                      format: int64
                      type: integer
                    deductionAmount:
                      description: deduction info will Record in the Charge
                      format: int64
                      type: integer
                    status:
                      type: string
                    time:
                      format: date-time
                      type: string
                    tradeNO:
                      type: string
                  type: object
                type: array
              deductionBalance:
                description: Deduction amount
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: payments.account.sealos.io
spec:
  group: account.sealos.io
  names:
    kind: Payment
    listKind: PaymentList
    plural: payments
    singular: payment
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Payment is the Schema for the payments API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PaymentSpec defines the desired state of Payment
            properties:
              amount:
                description: Amount is the amount of recharge
                format: int64
                type: integer
              userID:
                description: UserID is the user id who want to recharge
                type: string
            type: object
          status:
            description: PaymentStatus defines the observed state of Payment
            properties:
              codeURL:
                description: CodeURL is the codeURL of wechatpay
                type: string
              status:
                description: Status is the status of wechatpay, charging, closed,
                  timeout
                type: string
              tradeNO:
                description: TradeNO is the tradeNO of wechatpay
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: account-controller-manager
  namespace: account-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: account-leader-election-role
  namespace: account-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: account-manager-role
rules:
- apiGroups:
  - account.sealos.io
  resources:
  - accountbalances
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - accountbalances/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - accounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - accounts/finalizers
  verbs:
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - accounts/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - payments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - account.sealos.io
  resources:
  - payments/finalizers
  verbs:
  - update
- apiGroups:
  - account.sealos.io
  resources:
  - payments/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: account-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: account-proxy-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: account-leader-election-rolebinding
  namespace: account-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: account-leader-election-role
subjects:
- kind: ServiceAccount
  name: account-controller-manager
  namespace: account-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: account-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: account-manager-role
subjects:
- kind: ServiceAccount
  name: account-controller-manager
  namespace: account-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: account-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: account-proxy-role
subjects:
- kind: ServiceAccount
  name: account-controller-manager
  namespace: account-system
---
apiVersion: v1
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.1:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: a63686c3.sealos.io
kind: ConfigMap
metadata:
  name: account-manager-config
  namespace: account-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
  name: account-controller-manager-metrics-service
  namespace: account-system
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    control-plane: controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: controller-manager
  name: account-controller-manager
  namespace: account-system
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.11.0
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 5m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        command:
        - /manager
        env:
        - name: ACCOUNT_NAMESPACE
          value: sealos-system
        envFrom:
        - secretRef:
            name: payment-secret
        image: ghcr.io/labring/sealos-account-controller:dev
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
      securityContext:
        runAsNonRoot: true
      serviceAccountName: account-controller-manager
      terminationGracePeriodSeconds: 10
