apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: {{ .DEFAULT_NAMESPACE }}
stringData:
  MONGO_URI: "{{ .MONGO_URI }}"
  COCKROACH_URI: "{{ .COCKROACH_URI }}"
  LOCAL_REGION: "{{ .LOCAL_REGION }}"