apiVersion: v1
kind: Service
metadata:
  name: {{ include "desktop.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "desktop.labels" . | nindent 4 }}
spec:
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: {{ include "desktop.name" . }}
