apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
networking:
  podSubnet: 100.64.0.0/10
kubernetesVersion: {{ k8s_version }}

apiServerCertSANs:
- {{vip}}
{% for host in groups['k8s-master'] %}
- {{host}}
- {{hostvars[host].name}}
{% endfor %}
- 127.0.0.1

kubeProxy:
    config:
       mode: "ipvs"
