@import './app_store_common.scss';

.appHeader {
  padding: 8px 16px 16px 16px;
}

.mainLeft {
  flex: 1 1 540px;
  margin-right: 16px;
}

.mainRight {
  flex: 0 1 260px;
}

.tag {
  cursor: pointer;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 1px solid transparent;
}

.markDownWrap div {
  background: rgba(255, 255, 255, 0);
}

.iconBtn {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  background: rgba(164, 186, 202, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdownTitle {
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #0d1a2d;
}

.appInfo {
  display: flex;
  flex-grow: 1;

  .image {
    transition: all 0.3s ease-in-out;
    width: 110px;
    height: 110px;
  }

  .installBtn {
    margin: 12px 0;
  }

  .appDesc {
    display: flex;
    flex-grow: 1;
    margin-left: 16px;
    flex-direction: column;

    & .text {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #717d8a;
      font-size: 12px;
    }
  }

  .rightInfo {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .fixedRightInfo {
    display: none;
  }
}

.fixed {
  align-items: center;
  .image {
    width: 60px;
    height: 60px;
  }

  .imageLabels,
  .rightInfo,
  .installBtn,
  .appDesc .text {
    display: none;
  }

  .fixedRightInfo {
    display: block;
    margin-left: 16px;
  }
}

.activeTag {
  border: 1px solid #239bf2;
  color: #239bf2;
}

.appCommand {
  background-color: #4d5060;
  border-radius: 8px;
  padding: 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  position: relative;

  .copyBtn {
    position: absolute;
    top: 10px;
    right: 18px;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.popover {
  opacity: 0;
  position: absolute;
  padding: 8px;
  width: 80px;
  border-radius: 16px;
  background: #ffffff;
  bottom: 40px;
  color: #333333;
  text-align: center;
  transition: all 0.5 ease;
}

.active {
  opacity: 1;
}
