@import './app_store_common.scss';

.appHeader {
  padding: 8px 16px 16px 16px;
  .appInfo {
    display: flex;
    flex-grow: 1;
    .appDesc {
      display: flex;
      flex-grow: 1;
      margin-left: 16px;
      flex-direction: column;
      justify-content: space-between;
      & .text {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #717d8a;
        font-size: 12px;
      }
    }
  }
}

.mainLeft {
  flex: 1 1 540px;
  margin-right: 16px;
}

.mainRight {
  flex: 1 1 260px;
}

.tag {
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.markDownWrap div {
  background: rgba(255, 255, 255, 0);
}

.iconBtn {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  background: rgba(164, 186, 202, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdownTitle {
  margin-left: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #0d1a2d;
}
