@import './app_store_common.scss';

.tabList {
  background-color: $theme-color-white;
  border-radius: $small-radius;
}

.activeSpan {
  color: $theme-color-blue !important;
}

.defaultSpan {
  width: 60px;
  color: #949da6;
}

.inputSearch {
  padding: 8px 12px;
  background-color: $theme-color-white;
  border-radius: $small-radius;
  display: flex;
  align-items: center;

  .search {
    outline: 1px solid $theme-color-white;
    border: 1px solid $theme-color-white;
  }
}
