go 1.24.0

use (
	.
	./account
	./database
	./exceptionmonitor
	./launchpad
	./pay
	./devbox
	./vlogs
)

replace (
	github.com/labring/sealos/controllers/account => ../controllers/account
	github.com/labring/sealos/controllers/user => ../controllers/user

	k8s.io/api => k8s.io/api v0.32.3
    k8s.io/apiextensions-apiserver => k8s.io/apiextensions-apiserver v0.32.1
    k8s.io/apimachinery => k8s.io/apimachinery v0.32.1
    k8s.io/client-go => k8s.io/client-go v0.32.1
    sigs.k8s.io/controller-runtime => sigs.k8s.io/controller-runtime v0.20.4
)
