.desktopContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.backgroundWrap {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: top;
  padding-top: 20px;
}
