.nav {
  width: 200px;
  color: #616161;
  height: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.head {
  height: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;

  .dot {
    width: 15px;
    height: 15px;
    background: #3981f5;
    box-shadow: 2px 2px 0px #c5dbff;
    border-radius: 50%;
    display: inline-block;
  }

  .info {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    padding-left: 10px;
  }
}

.cloudlabel {
  width: 60px;
  text-align: right;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #201f1e;
  margin-right: 16px;

  .info {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    padding-left: 10px;
  }
}

.inputName span {
  width: 350px;
}

.moneyItem {
  font-size: 14px;
  line-height: 20px;

  .money {
    color: rgba(255, 161, 83, 1);
    font-weight: 600;
  }
}

.pageScroll {
  overflow-y: overlay;
}

.pageWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: scroll;
}

.restWindow {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  scroll-behavior: smooth;
}

.markdown {
  flex-basis: 450px;
  border: 1px solid #e1e2e3;
  border-radius: 2px;
}

.markdown {
  flex-basis: 450px;
  border: 1px solid #e1e2e3;
  border-radius: 2px;
}

.confirmBtn {
  background: #007fee;
  border-radius: 2px;
  border: 1px solid #007fee;
  color: #ffffff;
  height: 32px;
  width: 96px;
  padding: 5px 12px;
}

.inputNameMin span {
  width: 274px;
}
