$color-btn-blue: #007fee;

.detailPage {
  display: flex;
  height: 100%;

  .rightInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .nav {
      display: flex;
      height: 20px;
      margin-top: 16px;
      margin-left: 36px;
    }

    .nodeCard {
      margin: 16px 30px 20px 30px;
      border: 1px solid #e1e2e3;
      border-radius: 2px;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }
  }
}

.pageWrapperScroll {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  scroll-behavior: smooth;
}

.tableDetail {
  thead tr th {
    color: #605e5c;
    font-weight: 600;
    font-size: 14px;
  }

  tbody tr {
    border: none;
    font-size: 10px;
    color: #605e5c;
  }
}

.commonBlueBtn {
  background: $color-btn-blue;
  border-radius: 2px;
  border: 1px solid $color-btn-blue;
  color: #ffffff;
}

.changeBtn {
  width: 96px;
  height: 32px;
  border: 1px solid $color-btn-blue;
  border-radius: 2px;
  color: $color-btn-blue;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.confirmBtn {
  @extend .commonBlueBtn;
  height: 32px;
  width: 96px;
  padding: 5px 12px;
}

.cancelBtn {
  height: 32px;
  width: 96px;
  padding: 5px 12px;
  border: 1px solid #d1d1d1;
}

.hiddenId {
  display: none;
  position: absolute;
  top: 50px;
  width: 300px;
  height: 32px;
  background: #ffffff;
  border-radius: 2px;
  font-size: 12px;
  padding: 8px;
}
.scpId:hover {
  padding-bottom: 30px;
}

.scpId:hover .hiddenId {
  display: block;
}

.scpId:hover + .hiddenTime {
  margin-top: 30px;
}

.infraTitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  color: #323130;
}

.hiddenName {
  display: none;
  background: #ffffff;
  position: absolute;
  top: 80px;
  color: #323130;
  font-size: 14px;
  padding: 0px 20px;
}

.infraTitle:hover {
  padding-bottom: 48px;
}

.infraTitle:hover .hiddenName {
  display: block;
}

// Details on the left
.leftInfo {
  flex-basis: 256px;
  background-color: #e3f2fd80;
  padding-top: 40px;
  padding-left: 46px;
}

.leftInfoMin {
  flex-basis: 216px;
  background-color: #e3f2fd80;
  padding-left: 20px;
  padding-top: 30px;
}

.infraInfo {
  color: #605e5c;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: relative;
}

.detailTitle {
  color: #605e5c;
  font-weight: 600;
  font-size: 16px;
}

.releaseBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e5719b;
  border-radius: 2px;
  width: 198px;
  height: 32px;
  color: #ffffff;
  position: absolute;
  bottom: 26px;
}

.releaseBtnMin {
  @extend .releaseBtn;
  width: 168px;
}
