.wrap {
  background: linear-gradient(0deg, #f0f2f8, #f0f2f8), #f8f8f8;
}

.concard {
  background: #fcfdff;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
}

.infratitle {
  font-family: 'Source Han Sans CN';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #585d7a;
}

.infracontent {
  font-family: 'FZHei-B01S';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #545454;
}

.releaseBtn {
  margin-top: 50px;
  padding-top: 10px;
  padding-right: 30px;
  color: #de5462;
  &:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
}

.pageWrapperScroll {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  scroll-behavior: smooth;
  margin: 18px 48px;
}

.node_info {
  display: flex;
  justify-content: space-between;
  .node_title {
    margin-top: 18px;
    margin-left: 35px;

    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #61677d;
  }
  .node_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-right: 30px;
    width: 100px;
    height: 28px;
    line-height: 25px;
    border: 1px solid #3981f5;
    border-radius: 5px;
    color: #3981f5;
    span {
      font-family: 'FZHei-B01S';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 13px;
      color: #3981f5;
    }
  }
}

.copyssh {
  font-family: 'FZHei-B01S';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-decoration-line: underline;
  color: #3981f5;
  text-underline-offset: 4px;
  cursor: pointer;
}

.table_detail {
  thead {
    background: #f0f2f8;
  }
  thead tr th button {
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    height: 30px;
    font-family: 'FZHei-B01S';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #a1a8ae;
  }
  tbody tr {
    height: 52px;
    border-bottom-width: 1px;
    td {
      text-align: center;
    }
  }
}
