.appWrap {
  background-image: url('/images/infraicon/infra_bg.png');
  background-size: cover;
}

.head {
  width: 100%;
  padding-top: 46px;
}

.menu {
  display: inline-block;
  margin-left: 5px;
  width: 64px;
  height: 18px;
  left: 77px;
  top: 208px;
  font-family: 'FZHei-B01S';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #686868;
}

.btn {
  width: 86px;
  height: 30px;
  background: #3981f5;
  border-radius: 5px;
  margin-left: auto;
  font-family: 'FZHei-B01S';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frontItem {
  display: flex;
  height: 96px;
  background-color: #ffffff;
  align-items: center;
  padding: 0 18px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .right {
    margin-left: auto;
  }

  .title {
    font-family: 'FZHei-B01S';
    font-style: normal;
    font-weight: 400;
    font-size: 22.6723px;
    line-height: 26px;
    color: #000000;
  }
}

.pageScroll {
  overflow-y: overlay;
}

.pageWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.restWindow {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  scroll-behavior: smooth;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;

  & .Pending {
    width: 10px;
    height: 10px;
    background: #ec6a5e;
    border-radius: 50%;
  }

  & .Running {
    width: 10px;
    height: 10px;
    background: #61c554;
    border-radius: 50%;
  }

  & .Start {
    width: 10px;
    height: 10px;
    background: #f4be4f;
    border-radius: 50%;
  }

  & .right {
    margin-left: 6px;
    width: 48px;
    height: 18px;
    font-family: 'FZHei-B01S';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #686868;
  }
}
