.appWrap {
  background-image: url('/images/infraicon/infra_bg.png');
  background-size: cover;
}

.head {
  width: 100%;
  padding-top: 46px;
}

.menu {
  display: inline-block;
  margin-left: 5px;
  width: 64px;
  height: 18px;
  left: 77px;
  top: 208px;
  font-family: 'FZHei-B01S';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #686868;
}

.btn {
  width: 100px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #46abff;
  color: #ffffff;
  font-size: 14px;
  border-radius: 15px;
  line-height: 36px;
  margin-left: auto;
}

.btn:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn:active {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) inset;
}

.frontItem {
  display: flex;
  height: 80px;
  background-color: #ffffff;
  align-items: center;
  padding: 12px;
  // margin-top: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  .right {
    margin-left: auto;
  }
}

.pageScroll {
  overflow-y: overlay;
}

.pageWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.restWindow {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  scroll-behavior: smooth;
}
