.head {
  height: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  .dot {
    width: 15px;
    height: 15px;
    background: #3981f5;
    box-shadow: 2px 2px 0px #c5dbff;
    border-radius: 50%;
    display: inline-block;
  }
  .info {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    padding-left: 10px;
  }
}

.selectType {
  min-width: 120px !important;
  width: 120px;
  margin-right: 12px;
}

.selectTypeCount {
  min-width: 120px !important;
  width: 120px;
}

.cloudlabel {
  width: 60px;
  text-align: right;
  display: inline-block;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #201f1e;
  margin-right: 16px;
}
