apiVersion: v1
kind: ConfigMap
metadata:
  name: aiproxy-env
data:
  DEBUG: "false"
  DEBUG_SQL: "false"
  ADMIN_KEY: "{{ .ADMIN_KEY }}"
  SEALOS_JWT_KEY: "{{ .SEALOS_JWT_KEY }}"
  SQL_DSN: "{{ .SQL_DSN }}"
  LOG_SQL_DSN: "{{ .LOG_SQL_DSN }}"
  REDIS_CONN_STRING: "{{ .REDIS_CONN_STRING }}"
  BALANCE_SEALOS_CHECK_REAL_NAME_ENABLE: "{{ .BALANCE_SEALOS_CHECK_REAL_NAME_ENABLE }}"
  BALANCE_SEALOS_NO_REAL_NAME_USED_AMOUNT_LIMIT: "{{ .BALANCE_SEALOS_NO_REAL_NAME_USED_AMOUNT_LIMIT }}"
  SAVE_ALL_LOG_DETAIL: "{{ .SAVE_ALL_LOG_DETAIL }}"
  LOG_DETAIL_REQUEST_BODY_MAX_SIZE: "{{ .LOG_DETAIL_REQUEST_BODY_MAX_SIZE }}"
  LOG_DETAIL_RESPONSE_BODY_MAX_SIZE: "{{ .LOG_DETAIL_RESPONSE_BODY_MAX_SIZE }}"
