name: Check-License


on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.yaml"
      - "CHANGELOG/**"
  pull_request:
    branches: [ "*" ]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.yaml"
      - "CHANGELOG/**"
env:
  # Common versions
  GO_VERSION: "1.25"
  PROJECT_PATH: "./lifecycle"

jobs:
  check-license:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check License
        env:
          PROJECT_PATH: ${{ env.PROJECT_PATH }}
        run: cd "${PROJECT_PATH}" && make verify-license
