name: Check-Coverage

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.yaml"
      - "CHANGELOG/**"
  pull_request:
    branches: ["*"]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.yaml"
      - "CHANGELOG/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  # Common versions
  GO_VERSION: "1.25"
  PROJECT_PATH: "./lifecycle"

jobs:
  coverage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install Dependencies
        run: sudo apt update && sudo apt install -y libgpgme-dev libbtrfs-dev libdevmapper-dev

      - name: Run Coverage
        env:
          PROJECT_PATH: ${{ env.PROJECT_PATH }}
        run: cd "$PROJECT_PATH" && make coverage

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
