name: CI

env:
  GO_VERSION: "1.25"

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      push_mage:
        description: "Push images"
        required: false
        type: boolean
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.yaml"
      - "CHANGELOG/**"
      - "controllers/**"
      - "service/**"
      - "webhooks/**"
      - "frontend/**"
  pull_request:
    branches: ["*"]
    paths-ignore:
      - "docs/**"
      - "CHANGELOG/**"
      - "**/*.md"
      - "**/*.yaml"
      - "CHANGELOG/**"
      - "controllers/**"
      - "service/**"
      - "webhooks/**"
      - "frontend/**"

# Avoid using ${{ github.workflow }} - when called via workflow_call, it inherits the caller's name causing conflicts
concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  resolve-modules:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Resolve Modules
        id: set-matrix
        run: bash ./scripts/resolve-modules.sh ./lifecycle

  golangci-lint:
    needs: [resolve-modules]
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.resolve-modules.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install Dependencies
        run: sudo apt update && sudo apt install -y libgpgme-dev libbtrfs-dev libdevmapper-dev

      - name: Run Linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
          working-directory: ${{ matrix.workdir }}
          # args between =, not space
          args: --color=always --config=${{ github.workspace }}/.golangci.yml
