name: Build Controllers image

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "controllers/**"
      - ".github/workflows/controllers.yml"
      - "!**/*.md"
      - "!**/*.yaml"
  pull_request:
    branches: [ "*" ]
    paths:
      - "controllers/**"
      - ".github/workflows/controllers.yml"
      - "!**/*.md"
      - "!**/*.yaml"

env:
  # Common versions
  GO_VERSION: "1.20"

jobs:
  resolve-modules:
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Resolve Modules
        id: set-matrix
        run: bash ./scripts/resolve-modules.sh ./controllers

  golangci-lint:
    needs: [ resolve-modules ]
    runs-on: ubuntu-20.04
    strategy:
      matrix: ${{ fromJson(needs.resolve-modules.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run Linter
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          working-directory: ${{ matrix.workdir }}
          args: "--out-${NO_FUTURE}format colored-line-number"

  image-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ user, terminal, metering, infra, cluster, app, imagehub, account]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install Dependencies
        run: sudo apt update && sudo apt install -y libgpgme-dev libbtrfs-dev libdevmapper-dev

      - name: Build ${{ matrix.module }} amd64
        working-directory: controllers/${{ matrix.module }}
        run: |
          GOARCH=amd64 make build
          mv bin/manager bin/controller-${{ matrix.module }}-amd64
          chmod +x bin/controller-${{ matrix.module }}-amd64

      - name: Build ${{ matrix.module }} arm64
        working-directory: controllers/${{ matrix.module }}
        run: |
          GOARCH=arm64 make build
          mv bin/manager bin/controller-${{ matrix.module }}-arm64
          chmod +x bin/controller-${{ matrix.module }}-arm64

      - name: Prepare
        id: prepare
        run: |
          TAG=dev
          echo tag_name=${TAG} >> $GITHUB_OUTPUT

      - # Add support for more platforms with QEMU (optional)
        # https://github.com/docker/setup-qemu-action
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: network=host

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        if: ${{ github.event_name == 'push' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}

      - name: build (and publish) ${{ matrix.module }} main image
        if: ${{ github.event_name == 'push' }}
        env:
          # fork friendly ^^
          DOCKER_REPO: ghcr.io/${{ github.repository_owner }}/sealos-${{ matrix.module }}-controller
        working-directory: controllers/${{ matrix.module }}
        run: |
          docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --label "org.opencontainers.image.source=https://github.com/${{ github.repository_owner }}/sealos" \
          --label "org.opencontainers.image.description=sealos-${{ matrix.module }}-controller container image" \
          --label "org.opencontainers.image.licenses=MIT" \
          --push \
          -t ${DOCKER_REPO}:${{ steps.prepare.outputs.tag_name }} \
          -f Dockerfile \
          .
      - name: build  ${{ matrix.module }} image
        if: ${{ github.event_name == 'pull_request' }}
        env:
          # fork friendly ^^
          DOCKER_REPO: ghcr.io/${{ github.repository_owner }}/sealos-${{ matrix.module }}-controller
        working-directory: controllers/${{ matrix.module }}
        run: |
          docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --label "org.opencontainers.image.source=https://github.com/${{ github.repository_owner }}/sealos" \
          --label "org.opencontainers.image.description=sealos-${{ matrix.module }}-controller container image" \
          --label "org.opencontainers.image.licenses=MIT" \
          -t ${DOCKER_REPO}:${{ steps.prepare.outputs.tag_name }} \
          -f Dockerfile \
          .

  build-on-cluster-image:
    if: ${{ github.event_name == 'push' }}
    needs:
      - image-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ app, cluster, infra, metering, user, terminal, imagehub, account]
    permissions:
      issues: write
    steps:
      - name: Build ${{ matrix.module }}-controller image
        uses: peter-evans/create-or-update-comment@v1
        if: github.repository == 'labring/sealos'
        with:
          issue-number: 140
          repository: labring-actions/cluster-image
          body: |
            /imagebuild_apps sealos-${{ matrix.module }}-controller dev
          token: "${{ secrets.GH_TOKEN }}"
