name: Build Service

on:
  workflow_call:
    inputs:
      module:
        description: "Service module name (e.g., database, pay)"
        required: true
        type: string
      push_image:
        description: "Push image"
        required: false
        type: boolean
        default: false
      push_image_tag:
        description: "Push image tag"
        default: "latest"
        required: false
        type: string
      disable_cilint:
        description: "Disable golangci-lint"
        default: false
        required: false
        type: boolean
  workflow_dispatch:
    inputs:
      module:
        description: "Service module name (e.g., database, pay, account)"
        required: true
        type: string
      push_image:
        description: "Push image"
        required: false
        type: boolean
        default: false
      push_image_tag:
        description: "Push image tag"
        default: "latest"
        required: false
        type: string
      disable_cilint:
        description: "Disable golangci-lint"
        default: false
        required: false
        type: boolean

env:
  GO_VERSION: "1.25"
  ALIYUN_REGISTRY: ${{ secrets.ALIYUN_REGISTRY }}
  ALIYUN_REPO_PREFIX: ${{ secrets.ALIYUN_REPO_PREFIX && secrets.ALIYUN_REPO_PREFIX || secrets.ALIYUN_USERNAME && format('{0}/{1}', secrets.ALIYUN_REGISTRY, secrets.ALIYUN_USERNAME) || '' }}

jobs:
  golangci-lint:
    if: ${{ !inputs.disable_cilint && (github.event_name == 'push' || github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch') }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run Linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
          working-directory: service/${{ inputs.module }}
          args: --color=always --config=${{ github.workspace }}/.golangci.yml

  image-build:
    strategy:
      matrix:
        include:
          - arch: amd64
          - arch: arm64
            runs-on: ubuntu-24.04-arm
    runs-on: ${{ matrix.runs-on || 'ubuntu-24.04' }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set image repo
        id: set_repo
        env:
          MODULE: ${{ inputs.module }}
          REPOSITORY_OWNER: ${{ github.repository_owner }}
        run: |
          echo "GHCR_REPO=ghcr.io/${REPOSITORY_OWNER}/sealos-${MODULE}-service" >> $GITHUB_ENV
          if [[ -n "${{ env.ALIYUN_REPO_PREFIX }}" ]]; then
            echo "ALIYUN_REPO=${{ env.ALIYUN_REPO_PREFIX }}/sealos-${MODULE}-service" >> $GITHUB_ENV
          fi

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.GHCR_REPO }}
            ${{ env.ALIYUN_REPO }}
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Hub
        if: ${{ inputs.push_image }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN || secrets.GITHUB_TOKEN }}

      - name: Login to Aliyun Registry
        if: ${{ inputs.push_image && env.ALIYUN_REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ALIYUN_REGISTRY }}
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Build
        id: build
        uses: docker/build-push-action@v6
        with:
          context: ./service/${{ inputs.module }}
          file: ./service/${{ inputs.module }}/Dockerfile
          platforms: linux/${{ matrix.arch }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,"name=${{ env.GHCR_REPO }}${{ env.ALIYUN_REPO && format(',{0}', env.ALIYUN_REPO) || '' }}",name-canonical=true,push-by-digest=${{ inputs.push_image }},push=${{ inputs.push_image }}

      - name: Export digest
        env:
          TEMP_DIR: ${{ runner.temp }}
          DIGEST: ${{ steps.build.outputs.digest }}
        run: |
          mkdir -p "${TEMP_DIR}/digests"
          touch "${TEMP_DIR}/digests/${DIGEST#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ inputs.module }}-${{ matrix.arch }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  image-release:
    name: Push Docker Images
    needs: image-build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    if: ${{ inputs.push_image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to Github Container Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN || secrets.GITHUB_TOKEN }}

      - name: Login to Aliyun Registry
        if: ${{ env.ALIYUN_REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ALIYUN_REGISTRY }}
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Set image repo
        id: set_repo
        env:
          MODULE: ${{ inputs.module }}
          REPOSITORY_OWNER: ${{ github.repository_owner }}
        run: |
          echo "GHCR_REPO=ghcr.io/${REPOSITORY_OWNER}/sealos-${MODULE}-service" >> $GITHUB_ENV
          if [[ -n "${{ env.ALIYUN_REPO_PREFIX }}" ]]; then
            echo "ALIYUN_REPO=${{ env.ALIYUN_REPO_PREFIX }}/sealos-${MODULE}-service" >> $GITHUB_ENV
          fi

      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ inputs.module }}-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.GHCR_REPO }}
            ${{ env.ALIYUN_REPO }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            type=raw,value=${{ inputs.push_image_tag }},enable=${{ inputs.push_image_tag != '' && inputs.push_image_tag != 'latest' }}
            type=ref,event=branch
            type=ref,event=tag
            type=sha
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
        env:
          DOCKER_METADATA_SHORT_SHA_LENGTH: 9

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        env:
          GHCR_REPO: ${{ env.GHCR_REPO }}
          IMAGE_SOURCE: https://github.com/${{ github.repository }}
        run: |
          for TAG in $DOCKER_METADATA_OUTPUT_TAGS; do
            docker buildx imagetools create \
              --annotation "index:org.opencontainers.image.source=${IMAGE_SOURCE}" \
              -t $TAG \
              $(printf "${GHCR_REPO}@sha256:%s " *)
            sleep 5
          done

  cluster-image-build:
    needs:
      - image-release
    if: ${{ inputs.push_image }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set image repo
        env:
          REPO_OWNER: ${{ github.repository_owner }}
          MODULE: ${{ inputs.module }}
        run: |
          echo "MODULE_NAME=${MODULE}" >> $GITHUB_ENV
          echo "OLD_DOCKER_REPO=ghcr.io/labring/sealos-${MODULE}-service" >> $GITHUB_ENV
          echo "GHCR_DOCKER_REPO=ghcr.io/${REPO_OWNER}/sealos-${MODULE}-service" >> $GITHUB_ENV
          echo "GHCR_CLUSTER_REPO=ghcr.io/${REPO_OWNER}/sealos-cloud-${MODULE}-service" >> $GITHUB_ENV
          if [[ -n "${{ env.ALIYUN_REPO_PREFIX }}" ]]; then
            echo "ALIYUN_CLUSTER_REPO=${{ env.ALIYUN_REPO_PREFIX }}/sealos-cloud-${MODULE}-service" >> $GITHUB_ENV
          fi

      - name: Docker meta for cluster image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.GHCR_CLUSTER_REPO }}
            ${{ env.ALIYUN_CLUSTER_REPO }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            type=raw,value=${{ inputs.push_image_tag }},enable=${{ inputs.push_image_tag != '' && inputs.push_image_tag != 'latest' }}
            type=ref,event=branch
            type=ref,event=tag
            type=sha
        env:
          DOCKER_METADATA_SHORT_SHA_LENGTH: 9

      - name: Install sealos
        run: |
          sudo bash ./.github/scripts/install.sh

      - name: Build ${{ inputs.module }}-service cluster image
        working-directory: service/${{ inputs.module }}/deploy
        env:
          MODULE_NAME: ${{ env.MODULE_NAME }}
          OLD_DOCKER_REPO: ${{ env.OLD_DOCKER_REPO }}
          GHCR_DOCKER_REPO: ${{ env.GHCR_DOCKER_REPO }}
        run: |
          # Build cluster images for each tag (amd64)
          for TAG in $DOCKER_METADATA_OUTPUT_TAGS; do
            IMAGE_TAG="${TAG##*:}"
            NEW_DOCKER_IMAGE="${GHCR_DOCKER_REPO}:${IMAGE_TAG}"
            echo "Updating deploy files to: ${NEW_DOCKER_IMAGE}"
            if [[ -d manifests ]]; then
              sed -i -E "s;(${OLD_DOCKER_REPO}|${GHCR_DOCKER_REPO}):[^[:space:]\"']*;${NEW_DOCKER_IMAGE};" manifests/*
            fi
            if [[ -f charts/${MODULE_NAME}/values.yaml ]]; then
              sed -i -E "s;(${OLD_DOCKER_REPO}|${GHCR_DOCKER_REPO}):[^[:space:]\"']*;${NEW_DOCKER_IMAGE};" charts/${MODULE_NAME}/values.yaml
            fi
            sudo rm -rf registry
            echo "Building ${TAG}-amd64"
            sudo sealos build -t "${TAG}-amd64" --platform linux/amd64 -f Kubefile
          done

          # Build cluster images for each tag (arm64)
          for TAG in $DOCKER_METADATA_OUTPUT_TAGS; do
            IMAGE_TAG="${TAG##*:}"
            NEW_DOCKER_IMAGE="${GHCR_DOCKER_REPO}:${IMAGE_TAG}"
            if [[ -d manifests ]]; then
              sed -i -E "s;(${OLD_DOCKER_REPO}|${GHCR_DOCKER_REPO}):[^[:space:]\"']*;${NEW_DOCKER_IMAGE};" manifests/*
            fi
            if [[ -f charts/${MODULE_NAME}/values.yaml ]]; then
              sed -i -E "s;(${OLD_DOCKER_REPO}|${GHCR_DOCKER_REPO}):[^[:space:]\"']*;${NEW_DOCKER_IMAGE};" charts/${MODULE_NAME}/values.yaml
            fi
            sudo rm -rf registry
            echo "Building ${TAG}-arm64"
            sudo sealos build -t "${TAG}-arm64" --platform linux/arm64 -f Kubefile
          done

      - name: Sealos login to ghcr.io
        env:
          REPOSITORY_OWNER: ${{ github.repository_owner }}
          GH_PAT: ${{ secrets.GHCR_TOKEN || secrets.GITHUB_TOKEN }}
        run: |
          sudo sealos login -u "$REPOSITORY_OWNER" -p "$GH_PAT" --debug ghcr.io

      - name: Sealos login to Aliyun Registry
        if: ${{ env.ALIYUN_REGISTRY }}
        env:
          ALIYUN_USERNAME: ${{ secrets.ALIYUN_USERNAME }}
          ALIYUN_PASSWORD: ${{ secrets.ALIYUN_PASSWORD }}
        run: |
          sudo sealos login -u "$ALIYUN_USERNAME" -p "$ALIYUN_PASSWORD" --debug ${{ env.ALIYUN_REGISTRY }}

      - name: Manifest Cluster Images
        run: |
          sudo sealos images
          for TAG in $DOCKER_METADATA_OUTPUT_TAGS; do
            echo "Creating manifest for ${TAG}"
            bash scripts/manifest-cluster-images.sh "$TAG"
          done
